[2019-09-16 05:58] #325 closed

[2019-09-16 05:59] iredmail commented on #273
Issue closed due to no sample code snippet to reproduce the issue.

[2019-09-16 05:59] #273 closed

[2019-09-16 06:20] #14 closed

[2019-09-16 06:21] #181 closed

[2019-09-16 06:23] iredmail commented on #151
Issue closed due to no sample code snippet to reproduce the issue.

[2019-09-16 06:23] #151 closed

[2019-09-16 06:25] iredmail commented on #495
Seems a py3 compatible issue, closed since it should be fixed with the latest git version which already have a lot py3 fixes.

[2019-09-16 06:25] #495 closed

[2019-09-16 06:50] iredmail commented on #455
I can not reproduce this issue with latest git version of web.py. Consider this issue as invalid.

[code]

[2019-09-16 06:50] #455 closed

[2019-09-16 06:55] iredmail commented on #294
No hotshot in latest git version of web.py. Issue closed.

[2019-09-16 06:55] #294 closed

[2019-09-16 08:26] iredmail commented on #234
Fixed in https://github.com/webpy/webpy.github.com/commit/67b3298a6a9b34de13fbf9b85f75fe10a7676ec1.

[2019-09-16 08:26] #234 closed

[2019-09-16 08:27] iredmail commented on #446
Fixed in #529

[2019-09-16 08:27] #446 closed

[2019-09-16 08:36] iredmail commented on #282
Document updated: https://github.com/webpy/webpy.github.com/commit/e16085afaf19068e50939fcad6dd99c971c54289

[2019-09-16 08:36] #282 closed

[2019-09-16 08:37] #288 closed

[2019-09-16 08:45] iredmail opened #530 "Add unit test for db.multiple_insert()"
Currently no unit test for db.multiple_insert() to ensure it returns correct row ids of newly inserted rows.

[2019-09-16 09:37] rafaelshin commented on #509
@iredmail  i'll try with py3 and report issues if i found any problem

[2019-09-16 09:38] iredmail commented on #509
@rafaelshin Thanks. I'm working hard to solve existing issues and PRs.

[2019-09-16 10:42] #530 closed

[2019-09-16 10:47] iredmail commented on #517
hi @cclauss @anandology

- Only 2 issues/PR left in milestone `0.40 + Python-3`, i'm ok to release a stable version (`0.40`). Your opinions?
- I hope next version to be named `1.0` directly. `0.x` usually means "beta", "toy project" to some people, so let's make them happy and publicly announce that web.py is back to active development.

[2019-09-16 11:53] iredmail commented on #242
No plan to implement this. Sorry.

[2019-09-16 11:53] #242 closed

[2019-09-16 11:59] #260 closed

[2019-09-16 13:01] #235 closed

[2019-09-16 13:02] iredmail commented on #507
Closed due to no sample code snippet to reproduce the issue and no further reply.

[2019-09-16 13:02] #507 closed

[2019-09-16 13:03] iredmail commented on #499
Closed due to no sample code snippet to reproduce the issue and no further reply.

[2019-09-16 13:03] #499 closed

[2019-09-16 13:08] iredmail commented on #135
Closed due to no sample code snippet to reproduce the issue and no Oracle db for testing.

[2019-09-16 13:08] #135 closed

[2019-09-17 05:04] iredmail commented on #517
@cclauss @anandology

- Any comment?
- When should we release `0.40`?
- Any critical issues we need to solve in `0.40`? :)
- Plan for next stable release after `0.40`?

[2019-09-17 05:50] iredmail commented on #525
Command `pytest --doctest-modules xxx.py` will perform the doctest, but i'm not sure how to handle the py2/py3 issue. For example:

[code]

With py2, it expects a unicode string `u'xxx'`, but py3 expects string `'xxx'`.

[2019-09-17 20:35] gjdv opened #538 "debugerror.py causing errors"
When running the main of debugerror.py (Python 3.7)
`  File "...\web\http.py", line 18, in <module>
    from . import net, utils
ImportError: attempted relative import with no known parent package`
(Python2.7):
`  File ".../web/debugerror.py", line 18, in <module>
    from .template import Template
ValueError: Attempted relative import in non-package`

When raising an Exception in any render funct

[2019-09-18 00:28] iredmail commented on #538
What do you mean `running the main of debugerror.py`? Just run `python3 debugerror.py`?

[2019-09-18 05:18] gjdv commented on #538
The first two errors reported are indeed generated in that way.
The last one is triggered when raising an Exception inside any render function when running the frontend-application

[2019-09-18 06:19] cclauss commented on #538
Given the doctests comments and the import comments perhaps we should revert my doctest pull request.  Do you know how to do that?  I am about to board an airplane.

[2019-09-18 08:18] iredmail commented on #538
hi @cclauss

You can try to revert to old revision, there's no new commit after your commit, so it should be quite easy and safe to revert it. :)

[2019-09-21 00:44] iredmail commented on #538
@cclauss would you like to revert the doctest commits? I can do this for you. Just give me a confirm.

[2019-09-21 19:25] cclauss commented on #538
Done.  Can you please retest to make sure that we can close this issue.

[2019-09-21 19:32] cclauss commented on #525
Closing based on https://github.com/webpy/webpy/pull/536#issuecomment-532474482

[2019-09-21 20:11] cclauss commented on #488
This PR was released against a non-production version of Python (Python 2.7.15rc1).  Please re-verify with a production release.

[2019-09-21 20:14] cclauss commented on #517
We are ready for a ___production___ release now.

[2019-09-22 01:08] #523 closed

[2019-09-22 01:11] #182 closed

[2019-09-22 01:11] #191 closed

[2019-09-22 01:11] #83 closed

[2019-09-22 01:11] #289 closed

[2019-09-22 02:58] #488 closed

[2019-09-24 01:38] iredmail commented on #525
Dear @cclauss

Could you help enable doctests for py2 only?
I just realized there're more tests in doctests of `web/*.py` than `tests/test_*.py`. It would be great if we can enable them for just py2 right now.

After switched to py3, we can update doctests to completely support py3 (py2 support is not important at that time IMO).

[2019-09-24 11:40] cclauss opened #542 "Fix the Travis CI doctests on legacy Python"
#541 allows Travis CI to run the doctests on legacy Python only.  These tests must be fixed so that they all pass.

[2019-09-24 11:50] cclauss opened #543 "Where is the sudo module used in experimental/pwt.py ?"
#541 allows Travis CI to run the doctests but it explicitly excludes [__experimental/pwt.py__](https://github.com/webpy/webpy/blob/master/experimental/pwt.py) because that file imports a sudoku module named __sudo__?  Should we find that module or should we remove that dependancy?

[2019-09-24 13:57] iredmail commented on #543
@anandology Mind sending a PR to remove it?

[2019-09-24 14:10] iredmail opened #544 "Tasks for `0.40` stable release"
- [ ] Should we remove `web/webopenid.py`? PR is ready: #549
- [x] What does `tools/{_makedoc.py,makedoc.py}` used for? ~Can we remove them?~
- [x] Remove `experiment/` completely
- [x] Fix existing doctests in `web/*.py` for either py2 or py3, and enable it in Travis CI.

After solved above tasks, we tag `0.40` stable release and publish announcement.

@anandology @cclauss would you like to write

[2019-09-24 23:03] #543 closed

[2019-09-25 00:02] anandology commented on #544
The makedoc.py were used to generate the API docs. It was created before Sphinx even came into existence. It would be a good idea to switch to Sphinx docs. Would you like to do that now or after the 0.40 release @iredmail ?

[2019-09-25 00:10] anandology opened #547 "len doesn't work on query result"
With web.py current master, using `len` on db results is not working.
[code]

 There is already a test for this as part of the test suite, but not sure how Travis is letting it go.

[2019-09-25 00:18] iredmail commented on #544
@anandology i have no plan to modify or replace `makedoc.py` recently.

[2019-09-25 00:45] anandology commented on #547
The issue is with old-style and new-style classes. The current implementation adds `__len__` function to the iterbetter object and that doesn't work with new-style classes. In addition to this that `__len__` is removed for sqlite as it doesn't support length.

I'm working on a fix for this.

[2019-09-25 00:47] #525 closed

[2019-09-25 00:53] iredmail commented on #518
@anandology could you help fix this issue?

[2019-09-25 01:21] anandology commented on #518
I will look into this today.

On Wed, Sep 25, 2019, 6:23 AM iRedMail <notifications@github.com> wrote:

[2019-09-25 01:38] iredmail opened #548 "Proposal: Move `web/db.py` to separate repo as a standalone ORM package"
[After `0.40` release]

The "ORM" offered by `web/db.py` is really awesome, simple and clear enough, easy to use and understand. How about move to a separate git repo and publish it on pypi as a standalone "ORM" package? It will benefit more people.

[2019-09-25 03:44] cclauss commented on #547
What is __len(list(db.query("SELECT 1")))__ because one of the main features of Python 3 is that it usually returns iterators instead of lists.

[2019-09-25 03:45] cclauss commented on #547
TypeError: object of type 'IterBetter' has no len()

[2019-09-25 03:46] iredmail commented on #547
Is it better to drop `IterBetter` while we switch to py3 (only)?

[2019-09-25 03:57] cclauss commented on #547
No.  Plenty of other data structures like filter(), map(), range(), dict.items(), dict.keys(), dict.values() are iterators in Py3 but not Py2.  It is a huge optimization.  So let’s not resist iterators but instead embrace them.  When we need the len() or a specific item then wrap the iterator inside list().  If you study code that has been ported from 2to3, you will see that technique used where n

[2019-09-25 04:04] cclauss commented on #544
Let’s do it just after 0.40.  We should not add any new functionality to 0.40 because before the Py2 EOL we need a stable release in PyPI that supports Python 3.

[2019-09-25 04:06] iredmail commented on #544
ok. How about `web/webopenid.py`?

[2019-09-25 04:07] iredmail commented on #547
Seems i didn't make it clear.

Sure we need iterators, what i mean is, the `IterBetter` is a custom class in web.py:

[code]

The difference is it "can also be used via `__getitem__`", seems we don't have similar (builtin) thing in py3.

[2019-09-25 04:08] cclauss commented on #544
My vote is to remove __web/webopenid.py__

[2019-09-25 04:14] cclauss commented on #547
Thanks.  How broadly is it used? Do we have test cases for it?

[2019-09-25 04:15] iredmail commented on #544
+1 for remove it. 2 reasons:

1. openid is widely used, but it's unnecessary to be part of web.py.
2. currently used openid module is 9 years old.

Latest version of the `python-openid` module was released on Jun 19, 2010:
https://pypi.org/project/python-openid/#history

There's better openid module available in pypi, for example, `python-openid2`, last release is Jul 26, 2019, with py2.7 and py3.

[2019-09-25 05:20] iredmail commented on #547
Checked my web.py application (45655 lines in total), i'm surprised that i didn't use code like `len(db.query(...))` actually.

[2019-09-25 05:21] #526 closed

[2019-09-25 05:24] cclauss commented on #547
How often does it use __IterBetter__ directly?

[2019-09-25 05:28] iredmail commented on #547
I don't use `IterBetter` directly, but web.py uses it in `web/db.py` to return SQL query result:

1. line 748: https://github.com/webpy/webpy/blob/master/web/db.py#L748
2. line 1237: https://github.com/webpy/webpy/blob/master/web/db.py#L1237

Only one module (`web/db.py`) and 2 lines use this `IterBetter`, that's why i asked whether we should drop it after switched to py3 (comment in this thread:

[2019-09-25 05:46] iredmail commented on #544
PR is ready for removing `web/webopenid.py`: #549

[2019-09-25 05:56] iredmail commented on #547
@anandology Maybe we don't need `len()` support for query result. If user needs `len()` support, it's easy to convert to list then do the `len()`:

[code]

py2 and py3 don't offer an (official) way to get length on `iter()` object.

[2019-09-25 05:57] iredmail commented on #547
Let's close this and tag+release+announce 0.40. :)

[2019-09-25 06:54] iredmail opened #550 "CNAME DNS record of webpy.org is required by Github Pages"
To @anandology

Please help create a CNAME DNS record for `webpy.org`, it should point to `webpy.github.io`.

Reference: https://help.github.com/en/articles/setting-up-a-custom-subdomain#configuring-a-cname-record-with-your-dns-provider

This should fix #518

[2019-09-25 07:00] #544 closed

[2019-09-25 07:11] cclauss commented on #544
Let's please use https://github.com/webpy/webpy/releases ...  That did not happen for the dev releases but it is a good idea.

[2019-09-25 08:50] anandology commented on #550
The top level domain name can't have a CNAME. We can either use
www.webpy.org or find a work around.

On Wed, Sep 25, 2019, 12:24 PM iRedMail <notifications@github.com> wrote:

[2019-09-25 09:18] iredmail commented on #550
I think we can fix it by simply adding a CNAME for `www.webpy.org` which points to webpy.github.io.
`webpy.org` remains what it is right now.

[2019-09-25 13:51] anandology commented on #550
Looks like GitHub now supports A Record for DNS.

https://help.github.com/en/articles/setting-up-an-apex-domain

With this we can continue to use webpy.org

On Wed, Sep 25, 2019, 2:48 PM iRedMail <notifications@github.com> wrote:

[2019-09-25 13:53] iredmail commented on #550
- Please help fix it. I got one warning email for every commit to the `webpy.github.com` repo.
- How about rename the repo name to `website` for short?
- Any plan to rewrite the tutorial? e.g. use version 0.40 instead.

[2019-09-26 03:52] daivlin opened #553 "web.py 0.40 dependence so many package"
It's not simple

[2019-09-26 04:05] iredmail commented on #553
For example?

[2019-09-26 04:09] iredmail commented on #517
Tagged `0.40`.

@anandology Could you help publish a pypi release?
In the future, how can other maintainers publish a pypi release without your attention?

[2019-09-26 04:09] #518 closed

[2019-09-26 04:10] #542 closed

[2019-09-26 05:09] anandology commented on #517
The len issue in db results is pending. I should be able to push that fix
in couple of hours.

I think we should mark a pre-release ask people to try it out before
pushing a final release. What do you think?

On Thu, Sep 26, 2019 at 9:39 AM iRedMail <notifications@github.com> wrote:

[2019-09-26 05:13] iredmail commented on #517
We can tag new bug fix release like `0.41`, `0.42`, `0.50`, etc.
We need help to publish on pypi.

[2019-09-26 05:18] anandology commented on #517
Do you want to release without the len fix? I think that is very important
issue.

On Thu, Sep 26, 2019 at 10:39 AM Anand Chitipothu <anandology@gmail.com>
wrote:

[2019-09-26 05:20] iredmail commented on #517
I will wait for your fix, then we either re-tag `0.40`, or tag new `0.41`.
Then publish to pypi and announce it. We need some more attention to attract more contributions.

[2019-09-26 05:46] cclauss commented on #517
@iredmail You should go through the tutorial https://packaging.python.org/tutorials/packaging-projects/ and load a test package up to the test server.

Once you have done that successfully, you can take on the production server. Caution: they are two separate servers that do not share account info so you need to create accounts on both.

[2019-09-26 05:50] iredmail commented on #517
@cclauss Thanks for the info.
Not sure whether i can push a new release to pypi.org/project/web.py/.

[2019-09-26 05:55] cclauss commented on #517
Learn the mechanics and create the IDs so that permissions can be transferred to those IDs.

[2019-09-26 05:59] iredmail commented on #517
@cclauss Thank you very much. I didn't publish any package on pypi before. Kind of stupid. :(

[2019-09-26 06:04] cclauss commented on #517
I have never done it either but I went thru the tutorial 48 hours ago for https://github.com/nodejs/tap2junit and the process is kinda cool.

[2019-09-26 17:00] anandology commented on #547
I think is very important issue. I've sent a Pull request, please consider it for this release.

Also, the postgres tests are not running in Travis. I'm looking into it. I think that is also important not to ignore. I understand that making a release is important, but not at the expense of quality.

[2019-09-26 17:13] anandology commented on #547
web.py db module tries to expose whatever is available in the underlying db object. The length is present in the database result and it would not be appropriate to hide that just for convenience.

https://www.python.org/dev/peps/pep-0249/#rowcount

[2019-09-26 17:13] anandology commented on #547
Sorry, false alarm.

[2019-09-26 17:36] anandology opened #555 "debugerror not working"
debugerror doesn't seem to be broken now.

Here is what I've tried:

[code]

When tried to access `http://0.0.0.0:8080/`, the dev server failed with the following error:

[code]

Looks like something went wrong with templates.

[2019-09-26 17:39] cclauss commented on #555
A Python keyword  cannot be used as a function name.
[code]

[2019-09-27 00:34] #553 closed

[2019-09-27 04:16] #555 closed

[2019-09-27 04:20] #547 closed

[2019-09-27 04:23] iredmail commented on #538
Fixed by #556.

[2019-09-27 04:23] #538 closed

[2019-09-27 07:02] iredmail commented on #517
@anandology Re-tagged `0.40` with your last 2 fixes. You can post announcement now, and push to pypi.

[2019-09-27 07:37] cclauss commented on #517
https://pypi.org/user/iredmail/ --> _We looked everywhere but couldn't find this page_

[2019-09-27 07:39] iredmail commented on #517
@cclauss i didn't create account yet. Since @anandology is active, i prefer letting him do this since every web.py user know him.

[2019-09-27 07:45] anandology commented on #517
On Fri, Sep 27, 2019 at 12:32 PM iRedMail <notifications@github.com> wrote:

Pushed. Thanks @iRedMail and @cclauss for making this release possible.
I'll drop a mail in the list with change log.

[2019-09-27 07:47] iredmail commented on #517
Super. Thanks.

We should discuss the plan for next (big) release now (maybe a new issue for this).
I prefer making it py3 only.

[2019-09-27 07:49] anandology commented on #517
We need to update the website too.  @iRedMail can you please start working
on that?

I've already requested @sbp to make changes to DNS and that should be done
in a day.

On Fri, Sep 27, 2019 at 1:15 PM Anand Chitipothu <anandology@gmail.com>
wrote:

[2019-09-27 07:51] iredmail commented on #517
- Sorry, what does the "update the website" exactly mean?
- Is it possible to take over the domain name ownership? Seems @sbp is not active for a long time?

[2019-09-27 08:03] anandology commented on #517
On Fri, Sep 27, 2019 at 1:21 PM iRedMail <notifications@github.com> wrote:

home page with latest version. I'll send a pull request with newly
generated API.

responds back very quickly. He replied to my request to change the DNS and
it will be done in a day.

[2019-09-27 08:06] iredmail commented on #517
- All version numbers in `webpy.github.com` repo has been updated to `0.40`.
- With fast reply from @sbp, then i'm fine. :)

[2019-09-27 08:16] #517 closed

[2019-09-27 08:16] cclauss commented on #517
Given that @iredmail is reluctant to signup for PyPI, would it be a good idea for https://pypi.org/user/sbp or I (https://pypi.org/user/cclauss) be added as a maintainer for [bus factor](https://en.wikipedia.org/wiki/Bus_factor) reasons?

[2019-09-27 08:17] iredmail opened #557 "Re-organize code samples and move to (separated) github repo"
There're few code samples here: http://webpy.org/src/
Maybe we can re-organize them, test with the latest `0.40` and move to web.py git repo directly?

[2019-09-27 08:22] iredmail commented on #517
@anandology please add both me and @cclauss as the maintainer of pypi package.

[2019-09-27 08:55] cclauss commented on #557
@pkrumins The `redditriver.com` bits might be of interest to you.

[2019-09-27 09:02] cclauss commented on #557
@iredmail We should not bloat the code of https://pypi.org/project/web.py with too many code samples.

My strong preference would be that:
1. We leave as many of these code samples in the repos that they are in. --or--
2. We bring them into _separate repos_ under https://github.com/webpy

[2019-09-27 09:04] iredmail commented on #557
A separated repo is better. :)

[2019-09-27 09:10] iredmail opened #558 "Write new tutorial for upcoming (py3 only) release"
This tutorial for Flask (in Chinese) is very good, the content it covers is more than enough to help you create a production web application:
https://read.helloflask.com/

I plan to write one (in English) for web.py when the py3-only release is in RC stage.

Let me know if you think there’s some tech details should/must  be covered in such tutorial.

[2019-09-27 09:30] cclauss commented on #557
To get us started, if you __create a new repo__ at https://github.com/webpy/webpy-sample-code then I will populate it with:
[code]
from http://webpy.org/src/

[2019-09-27 09:31] sokol07 opened #559 "Python 2.7: do not show log in console"
Hi,
I'm writing an offline app with interface based on web.py.
I want to hide the logs in the console (GET and POST info) which is running my app but still have the ability to use the `print()` function (I'm printing some technical details in the console).
I'm using Python 2.7 and SUSE Linux Enterprise Server 12 SP3.
I tried to use the solution from cookbook with `toprint = False`, but it didn't d

[2019-09-27 09:39] cclauss commented on #559
I do not know the answer but this would be a nice __test case__ to add to our automated testing.

[2019-09-27 09:40] iredmail commented on #557
I tried, but don’t have privilege to create new repo.

@anandology could you grant the privilege?

[2019-09-27 09:41] iredmail commented on #559
Didn’t check the “toprint” yet, but maybe a simple “grep” command will do the trick?

[2019-09-27 10:06] anandology commented on #559
On Fri, Sep 27, 2019 at 3:01 PM Tomasz Sokołowski <notifications@github.com>
wrote:

I don't think web.py does anything special to hide the print output. I'm
assuming that your are using the development server that comes with web.py
and the access log is being printed. Is that correct?

Could you please share link to that cookbook article so that we can review
that and fix if required?

[2019-09-27 11:23] anandology commented on #557
On Fri, Sep 27, 2019 at 3:10 PM iRedMail <notifications@github.com> wrote:

Done. Please check and confirm?

Wouldn't it be better to name the repo as webpy-examples?

[2019-09-27 11:35] iredmail commented on #557
“webpy-examples” is very good.
the point is we need a repo for code samples. :)

[2019-09-27 11:51] cclauss commented on #557
I created https://github.com/webpy/webpy-examples

[2019-09-27 13:49] xinthose commented on #504
So are you still maintaining the project then?

[2019-09-27 14:06] cclauss commented on #504
This week's release: https://github.com/webpy/webpy/blob/master/ChangeLog.txt

[2019-09-27 14:09] iredmail commented on #504
@xinthose i WAS not the maintainer when i posted this issue. I posted here to attractive people, but seems failed. so i tried.

New maintainers / contributors are always welcome. :)

[2019-09-27 14:30] iredmail commented on #517
Contacted FreeBSD and OpenBSD port tree maintainer of webpy:

- OpenBSD port will be updated next week (i know this guy in personal and asked a favor, haha)
- Need to wait for (email) reply from FreeBSD maintainer.

Please help contact CentOS/Debian/Ubuntu package maintainer if possible.

[2019-09-27 15:12] iredmail opened #562 "Discussion: Roadmap of next big release `1.0`"
Hi @cclauss @anandology

I guess it's the right time to discuss the roadmap of our next big release, i personally hope it will be named `1.0`, but, whatever.

Thoughts:

- Make it Python 3 only. After removed code for Py2 support, web.py will be even more micro.
  - Make sure all unit tests (`tests/`) works with py3.
- Any new features?
- Any existing issues we must solve?
- License? https://githu

[2019-09-27 15:26] cclauss commented on #562
We should not focus on removing 2.7 support until after we have [OpenLIbrary](https://archive.org/about/) working on both.  https://www.aaronswartzday.org/open-library/

[2019-09-27 15:36] iredmail commented on #562
I suppose that's `0.40`?

I'm ok to continue py2.7 + py3 support in a new branch / release like `0.50`, but it should focus on fixing issues and better py3 support, not implementing new features.

py2 has only 100+ days left before abandoned by PSF, we better move faster.

btw, what's the OpenLibary team's plan to move to py3?

[2019-09-27 15:46] cclauss commented on #562
I have been working hard and many others on the OpenLibrary community also have similar PRs...
https://github.com/internetarchive/openlibrary/pulls?q=is%3Apr+author%3Acclauss+is%3Aclosed
https://github.com/internetarchive/infogami/pulls?q=is%3Apr+author%3Acclauss+is%3Aclosed

We are close
https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+is%3Aissue+label%3A%22Theme%3A+Upgrade+to+Py

[2019-09-27 20:42] sokol07 commented on #559
assuming that your are using the development server that comes with web.py
and the access log is being printed. Is that correct?
Yes, exactly.

that and fix if required?
http://webpy.org/cookbook/logging
I don’t say it’s wrong, maybe I miss something. Generally speaking I found such solution in a few articles on reddit and generally speaking it seemed that following the cookbook is a right way to

[2019-09-29 01:25] iredmail commented on #517
Mailed Debian package maintainer, hope he/she can help update web.py in Debian/Ubuntu soon.

[2019-09-29 08:24] iredmail commented on #550
Seems fixed.

[2019-09-29 08:24] #550 closed

[2019-09-29 14:31] iredmail commented on #557
@cclauss Could you help move this sample app to the https://github.com/webpy/webpy-examples/ repo?
http://webpy.org/src/lecker.html

[2019-09-29 14:44] cclauss commented on #557
@wuestholz Are you OK with this or would you rather host this code on a repo of your own?

[2019-09-30 07:47] wuestholz commented on #557
@cclauss Thanks for checking with me. It must be ages since I wrote that code... :) Please feel free to move it there.

[2019-09-30 08:15] cclauss commented on #557
Thanks.  I am closing so that all new issues related to sample code will be opened on https://github.com/webpy/webpy-examples/

[2019-09-30 08:15] #557 closed

[2019-09-30 12:06] iredmail commented on #562
Any other comments?

[2019-09-30 15:04] nestor-alonso commented on #562
Maybe we should create some Dockerfiles, one with webpy and sqlite, other with PostgreSQL, and some with the examples. I'll try to do something like that, and I'd like to share it. Also, we can offer a container with all examples, so developers can be up and running in no-time. Any ideas on this topic.

[2019-09-30 15:06] iredmail commented on #562
@nestor-alonso sounds cool, but what's the purpose of docker + web.py?

[2019-09-30 15:12] nestor-alonso commented on #558
We should make documentation Dash compatible, so we can also use it offline.

https://kapeli.com/docsets

[2019-09-30 15:14] iredmail commented on #558
Generating offline copy is not priority, we need a tutorial (for upcoming py3-only release) first.

[2019-09-30 16:07] nestor-alonso commented on #562
It is useful because you are giving something that runs, and developers can use our images to build their own images on top of that, so we become part if their CI/CD process . I'm thinking on becoming a framework for microservices: webpy is lightweight, has a great and simple syntax and stays out of the way of developers.

[2019-09-30 16:20] anandology commented on #562
Here is my wishlist for 1.0.

- Brand web.py as "RESTful web framework in Python". Even after so many web
frameworks out there, nothing comes close to web.py interms of RESTfulness.
The program structure speaks the API.
- Make web.db a separate library
- Drop support for sessions [1]
- Replace Templetor with Jinja - I'm the one who write most of the current
templator code, but I strongly think the

[2019-10-01 00:39] iredmail commented on #562
- The builtin Templetor is handy if you need to write some simple web app with just few pages. But yes Jinja2 is more popular and powerful. I'm ok to replace it.
- I don't use the form module at all. While writing web app, the html code generated by form module is not good enough for CSS styling.
- I personally don't want to drop session module. If you're going to, make sure offering an easy alter

[2019-10-01 00:40] #509 closed

[2019-10-01 00:41] iredmail commented on #559
No plan to "fix" this "issue" since the tutorial uses third-party module `wsgilog`, i consider it not a webpy issue. Maybe remove that tutorial too.

[2019-10-01 00:41] #559 closed

[2019-10-01 00:43] iredmail commented on #236
Is this still an issue?

[2019-10-01 00:51] iredmail opened #564 "[DRAFT] Roadmap of 1.0"
This is a draft roadmap. Feel free to discuss in issue #562, i will collect and organize items here.

1. Make it py3-only.
1. Make `web.db` a separate library
1. Better reloader
1. Better documentation

- Brand web.py as `RESTful web framework in Python`. Even after so many web
frameworks out there, nothing comes close to web.py interms of RESTfulness. The program structure speaks the API.
- Stay

[2019-10-01 00:53] iredmail commented on #562
I wish the builtin templator could get some improvements and stay.

[2019-10-01 06:46] cclauss commented on #559
@sokol07 Would you be willing fix the tutorial to use Python's builtin __logging__ module instead of __wsgilog__?  It is quite useful to log problems instead of always printing them.

[2019-10-01 13:31] sokol07 commented on #559
@cclauss I can think about that when I have some spare time but I can't promise when this will be - for the next few weeks I've got quite many things to do and the unnecesary output got rather low priority for now. The second thing is that I don't feel familiar enough with both logging and wsgilog modules to rework the tutorial, I have to read more about them.

[2019-10-10 09:52] sokol07 commented on #559
@cclauss I had some time today to look into the web.py code and I think I have a clue what's going on.
The logging is handled in `httpserver.py` by function `log(self, status, environ)` in class `LogMiddleware`.
The logging is performed by `print(utils.safestr(msg), file=outfile)` in line 322. However, the "file" parameter in "print" is available only in Python 3 and I'm working in Python 2.7 at t

[2019-10-10 18:17] rrguardo opened #568 "Backward compatibility problem 'web.utils.utf8' disapear at version 0.40"
[code]

[code]

All the web applications that use that function now crash and require updates to use the new version 0.40

[2019-10-10 20:31] rrguardo opened #570 "Backward compatibility problem at function 'db.select' while 'limit' keyword is used in webpy 0.40."
At **webpy 0.37** and earlier the select function allow use the limit keyword this way  limit='0, 10'

[code]

But at **webpy 0.40** the select function don't allow use the limit keyword that way limit='0, 10'
[code]

All the web applications that use that keyword at select function in that way, now fail to run queries and require updates to use the new version 0.40

[2019-10-10 23:57] m1yag1 commented on #522
I'd like to help with this. What would be the Acceptance Criteria for this as a PR? Should we run the set of changes through black during the travis build or only include instructions on how to install pre-commit? I currently use both with all my projects.

[2019-10-11 02:24] iredmail commented on #570
Seems this commit on Feb 5, 2018 broke this:
https://github.com/webpy/webpy/commit/becbfb92d7601ddb0aededfdc9a91696bde2430f#diff-bab5d2282d3362e44ff9cea603fb052f

You should use `offset` with `limit`. for example, your code `select('users', limit='0, 10')` should be rewritten to:

[code]

[2019-10-11 02:47] #570 closed

[2019-10-11 13:43] iredmail commented on #568
Please replace “web.utf8” or “web.utils.utf8” by “web.safestr”.

This change was made before I joined webpy team, I’m sorry that I have no plan to bring it back.

I updated the ChangeLog.txt in webpy git repo to mention this broken backward compatibility issue.

[2019-10-11 13:43] #568 closed

[2019-10-11 13:47] iredmail commented on #522
Currently “black” is ran by Travis ci, is code doesn’t pass “black” check, the CI will fail. So I’d say we’re fine with “black” right now.

[2019-10-16 07:23] #393 closed

[2019-11-01 19:01] kjmph opened #574 "TypeError: write() argument must be str, not bytes"
web.py release: 0.40
Python release: 3.7.3 (Debian buster)

While porting a project from Python 2 to Python 3 (thanks for the 0.40 release!), I immediately encountered a bug in `web.input()`. Apparently, when a POST is sent by `requests` (as opposed to a web browser), web.py emits an error:

```TypeError: write() argument must be str, not bytes```

If debug is enabled, the default, then a stream o

[2019-11-01 20:07] cclauss commented on #574
Python 2 makes no destiction between bytes and str but Python 3 strictly enforces that distinction:
[code]
These two utility functions can help:
[code]
* If s is bytes/str in Python 2 then these functions just return it unmodified.
* if s is bytes in Python 3 then to_utf8() returns it as a str and to_bytes() just returns it unmodified.
* if s is str in Python 3 then to_bytes() returns it as a byte

[2019-11-01 20:12] kjmph commented on #574
Hello @cclauss, I appreciate the comment, I agree that those utility functions can help. If we look closer at my example, we can see that I am not doing anything outside the tutorial example on http://webpy.org/.

I don't believe this is an issue with a user mishandling encoding, this is inside web.py.

[2019-11-01 20:25] kjmph commented on #574
If it is helpful, here is an example that is just a POST:

[code]

Again, trigger the  web.input()` error and the cascading error with the debug page:
[code]

[2019-11-01 20:27] cclauss commented on #574
@kjmph I was not saying that these functions were the answer to this issue.  I just wanted to make sure that the source was clear.

__six__ has even more comprehensive functions.
https://github.com/benjaminp/six/blob/master/six.py#L854-L909

My issue is line 441 which only does a d.encode("utf-8") on PY2.  Don't we want it to do that decode on both PY2 and PY3?
https://github.com/webpy/webpy/blob/

[2019-11-01 20:47] kjmph commented on #574
Ah, I see your point. If we look here at `cgi.py` we see that the actual source of the problem is that `_binary_file` is set to `False`:

https://github.com/python/cpython/blob/ef4ec6ed12d6c6200a85068f60483723298b6ff4/Lib/cgi.py#L444

In other words, are you suggesting that `webapi.py` should be passing in a StringIO?

[2019-11-01 20:58] cclauss commented on #574
I read that as `if there is a file then it is a binary file.`

The code easier to scan if it leveraged `dict.get()`:
[code]

[2019-11-01 21:00] kjmph commented on #574
Ah, I see, `True`. I scanned too quickly. Also, there is this line:

https://github.com/python/cpython/blob/ef4ec6ed12d6c6200a85068f60483723298b6ff4/Lib/cgi.py#L697-L699

So, we know cgi.py expects to receive bytes from the caller.

[2019-11-01 21:05] cclauss commented on #574
That makes sense to me.  We should be reading and writing __bytes__.  That means that __BytesIO__ is correct.  I still think that line 441 needs to lose the PY2 qualifier.  We want to convert text_type data to bytes on both PY2 and PY3.

[2019-11-01 21:07] kjmph commented on #574
You and I are in agreement, on rereading. We just had a different way of expressing it. It appears `_binary_file` is set to `False` in this case. There is no filename (nor any content-disposition) in the example. Thus, the TemporaryFile is created with `w+` flags. This is why the `self.file.write` fails.

[2019-11-01 21:12] cclauss commented on #574
Now I understand.  So we either decode the bytes before writing to the TemporaryFile or we open the TemporaryFile in binary mode.

[2019-11-01 21:15] kjmph commented on #574
That is correct, yet if we decode the bytes, `cgi.py` will warn because it expects bytes.

[2019-11-01 21:17] kjmph commented on #574
It seems like subclassing FieldStorage, and overriding make_file is the best way to fix this. (better than monkey patching?) Then, this would have to be pushed upstream to CPython.

[2019-11-02 01:21] kjmph commented on #574
Is that pull request what you have in mind @cclauss?

[2019-11-02 06:07] cclauss commented on #574
[code]
From https://docs.python.org/3/library/cgi.html#using-the-cgi-module

[2019-11-02 15:24] kjmph commented on #574
I tested it both ways, and it still failed. This is supported by reading the code, as read_binary will only expect bytes, and TemporaryFile isn't created with bytes. There is no encoding being processed in this case. (Note, I fixed the Pull request to work with Python 2, as make_file args had changed).

[2019-11-02 18:53] anandology commented on #574
I'm trying to see if the issue can be reproduced without using web.py at all.

[code]

And requesting it fails.

[code]

And the trackback is:
[code]

It looks like the issue is with cgi module.

[2019-11-03 01:27] kjmph commented on #574
Thanks for that test case @anandology, I agree this should be pushed upstream. I've never used bugs.python.org, is there someone better to represent?

In the meantime, pull request #575, if accepted, would allow web.py to function while waiting for an upstream fix.

[2019-11-05 04:13] #574 closed

[2019-11-05 15:32] kjmph opened #576 "RuntimeError('generator raised StopIteration')"
web.py version: 0.40
cheroot version: 8.2.1
Python version: 3.7.3 (Debian buster)

To reiterate, thanks again for porting web.py to Python 3. This has been very helpful.

When serving static assets, and the server wants to respond with `304 Not Modified`, web.py raises StopIteration. Now, in most cases, StopIteration is used as an internal exception to tell the web.py to prevent execution of the r

[2019-11-06 03:25] iredmail commented on #576
It’s always welcome to create a PR. please also add unit tests for your change.

[2019-11-07 02:00] kjmph commented on #576
It is an interesting request for adding a unit test. I tried. There doesn't appear to be a way to serve static files from within unit tests, any advice you can give here? By testing 304s with request handlers, it won't trigger the problem in the `web.httpserver.StaticApp` class. While maybe I could construct my own middleware and replicate StaticApp, it wouldn't be a valuable test in that it would

[2019-11-20 07:11] shan-bharani opened #578 "Add Joinedstr to ALLOWED_AST_NODES in template.py for Python 3.6 and above?"
Joinedstr  is new AST Python version => 3.6. Should it be added to ALLOWED_AST_NODES in template.py? Otherwise template.py throws up an Security Error. "execution of 'JoinedStr' statements is denied" for if statement in the templates.

[2019-11-20 14:23] #576 closed

[2019-11-20 14:23] #578 closed

[2019-11-21 09:36] iredmail commented on #456
hi @lepeuvedic

Could you help verify whether this commit fixes your issue?
https://github.com/webpy/webpy/commit/8351e9cbd7185991a7785fa0309dc4dfe3532f1e

[2019-11-21 09:36] #456 closed

[2019-11-25 14:39] anhtu91 opened #582 "Start webpy with raspberry pi"
Hi everyone,

firstly, thank you very much for the very useful library but I still got a problem. I am trying to start my script, which uses webpy, everytime when my raspberry pi starts. Anyway the command window always returns this error:

ImportError: No module named web

Any help would be really appreciated...
Thanks in advanced

[2019-11-25 14:44] iredmail commented on #582
It means Python can not find web.py module.

Question: How did you install web.py?

[2019-11-25 18:31] anhtu91 commented on #582
I used the command: pip3 install web.py

[2019-11-25 18:35] cclauss commented on #582
https://snarky.ca/why-you-should-use-python-m-pip

[2019-11-27 10:38] iredmail commented on #582
hi @anhtu91, did you get your webpy app working?

[2019-11-28 00:08] anhtu91 commented on #582
Thank you, guys. It is working now

[2019-11-28 01:47] #582 closed

[2019-11-29 06:14] uimeet opened #585 "Execute `select` query can not autocommit."
The code position at **lines 848** in `db.py`.

`return self.create_result_set(db_cursor)`
to
`out = self.create_result_set(db_cursor)`

[2019-11-29 06:31] iredmail commented on #585
Duplicate of https://github.com/webpy/webpy/pull/584

[2019-11-29 06:31] #585 closed

[2019-12-03 11:20] lxyyukiko commented on #393
yes，I  still got it with 0.40.0 version. what' s the possible reason for that? Is it because of pandas?

[2019-12-03 12:13] cclauss commented on #393
__for mod in list(sys.modules.values()):__

[2019-12-18 18:20] rrguardo opened #586 "Poor performance at new database libs."
This old libs combinations works perfect:

* python2.7
* web.py==0.37
* MySQL-python==1.2.5
* dbutils==1.1

If the database pool is enable in threaded (greenlets) services, the database libs works perfect, the service is able to process huge amount of request and connections without delays. The redis default cache pool usually fail before the database pool at those libs.

But with new libs like be

[2019-12-18 18:25] rrguardo commented on #586
Maybe if webpy add support to [*mysqlclient*](https://pypi.org/project/mysqlclient/) database driver the new or future libs could rescue the performance lost?

[2020-01-03 15:25] berkakinci opened #587 "len(<web.db.ResultSet>) doesn't work before first access"
It appears there is a hook in ResultSet to get number of rows using len() function.  It was recently touched in response to issue #547 .
However, len()  only works after an access to an item in the result set.  It seems less useful that way, and also probably not what was intended.

Here's an example reproduction:
[code]
My expectation: len() works even before I've already accessed the results.  (

[2020-01-03 18:40] berkakinci commented on #587
This also breaks sessions when using DBStore.  Same exception is thrown at DBStore.__contains__() when executing "return(bool(list(data)))"

[2020-01-03 19:22] berkakinci commented on #587
I dug into this some more.  Here is another bit of relevant information:
[code]
The cursor.rowcount property from this connector is "-1" when not in buffered mode.  See:
[https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-rowcount.html](url)

For now, I'm working around this issue by enabling buffered cursors (`buffered=True`) such as:
[code]
I would like to see a more

[2020-01-04 20:07] berkakinci commented on #587
Please revert the checkin [https://github.com/webpy/webpy/commit/b72ced8df96466a7e4a31630f606a81567524391](url)
It will eliminate the exception, but it does not fix the bug.  It'll be a lot harder to debug this in the future.
For example, with this checkin, mysql.connector and un-buffered cursors: DBStore.__contains__() will always return "False" and cause session_id to never be found.  Silently!

[2020-01-11 04:01] qujianbiao opened #589 "session.py in my windows10, DiskStore [class os.rename(tname, path) ] will trigger exception: IOError [WinError 183]"
def __setitem__(self, key, value):
        path = self._get_path(key)
        pickled = self.encode(value)
        try:
            tname = path + "." + threading.current_thread().getName()
            f = open(tname, "wb")
            try:
                f.write(pickled)
            finally:
                f.close()
                os.rename(tname, path)  # will trigger exception: IOError [WinE

[2020-01-11 04:03] cclauss commented on #589
[code]

[2020-01-11 04:10] qujianbiao commented on #589
IOError [WinError 183] Cannot create a file when that file already exists '.sessions\\ae60004d0026a57faeeeaf537a8ac7e6c6fd7a0b.CP Server Thread-1' -> '.sessions\\ae60004d0026a57faeeeaf537a8ac7e6c6fd7a0b'

[2020-01-11 04:16] qujianbiao commented on #589
my python version:
C:\Users\bill>c:\Python35\python.exe --version
Python 3.5.4

[2020-01-11 08:45] iredmail commented on #587
Cc @anandology

[2020-01-11 16:59] shanshangzhiren commented on #589
I have the same question, windows7X64,python2.7.17x86,web.py0.40

[2020-01-17 14:32] Quiec opened #590 "UnicodeEncodeError: I can't send header with "ğ""
I cant send header with "ğ", "ğ" is utf8 character.
My code:
<code>

        web.header('Charset','UTF-8')
        web.header('Content-Type', 'application/force-download; charset=utf-8', unique=True)
        web.header('Content-Disposition', 'attachment; filename=' + web.safestr("Duman - Kolay Değildir.flac"), unique=True)
        web.header('Content-Length', os.path.getsize("Duman - Kolay Değildi

[2020-01-17 14:56] cclauss commented on #590
Python 2 or Python 3 or both?

[2020-01-17 16:45] Quiec commented on #590
Python 3.6

Christian Clauss <notifications@github.com>, 17 Oca 2020 Cum, 17:56
tarihinde şunu yazdı:

[2020-01-24 08:15] iredmail commented on #590
Not a webpy issue/bug, you should encode the file name instead LIKE this:

[code]

[2020-01-24 08:15] #590 closed

[2020-01-27 09:31] FrankIJskes commented on #288
And there might a problem using python 3.5 on windows with sessions (web.py==0.40)  that is not present when running the same code on python 3.6 on linux. I have not found the reason for this, so this remark might help someone out.

[2020-02-02 08:47] pycarus opened #592 ""None" Value Not Supported in SameSite Directive in setcookie()"
Hello,

The SameSite cookie directive has three option: Strict, Lax and None:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#SameSite_cookies
https://tools.ietf.org/id/draft-ietf-httpbis-rfc6265bis-03.html#rfc.section.5.3.7

Web.py's setcookie() function ignore the "None" value and regards it as equivalent to not setting a value:
https://github.com/webpy/webpy/blob/master/web/webapi.py

[2020-02-02 09:07] #592 closed

[2020-02-02 09:09] iredmail commented on #592
Dear @pycarus

Fix committed, could you please help verify it?

[2020-02-02 09:19] pycarus commented on #592
@iredmail Excellent, thanks.

[2020-02-02 09:36] iredmail commented on #592
@pycarus Did you test it? Works for you?

[2020-02-04 12:49] pycarus commented on #592
@iredmail I did test the fix, it works as expected with Chrome 79 and the relevant flag enabled (chrome://flags/#same-site-by-default-cookies) to simulate how Chrome 80 will handle SameSite="None". The current version of Firefox ignores SameSite="None".

[2020-02-04 18:45] shan-bharani commented on #578
It should be JoinedStr instead of Joinedstr.

[2020-02-22 12:33] liusp913xx commented on #589
me too
windows 10, python 2.7.17, web.py 0.40

[2020-02-22 14:43] cclauss commented on #589
Python 2 is end of life.  https://devguide.python.org/devcycle/#end-of-life-branches

[2020-02-24 14:49] wangjing1215 commented on #587
File "/usr/lib/python2.7/site-packages/web/utils.py", line 709, in __nonzero__
    return len(self) != 0
TypeError: __len__() should return an int
when I use like this:
re = db.query("select 1 from user")
if re:

sometime will get  error.how to fix it?

[2020-03-05 03:43] daivlin commented on #548
Yeay，that is very good，I like the webpy/db.py and hope use it at other work

[2020-03-05 04:55] anandology commented on #548
That is very good idea. It also give us a chance to get rid of the
dependency on thread-local state for storing connections.

On Wed, Sep 25, 2019 at 7:08 AM iRedMail <notifications@github.com> wrote:

[2020-03-05 04:56] anandology commented on #548
On Thu, Mar 5, 2020 at 10:25 AM Anand Chitipothu <anandology@gmail.com>
wrote:

In fact, I've attempted to do that long back, but never managed finished
it.
https://github.com/anandology/sqlpy

[2020-03-05 05:03] iredmail commented on #548
Hi @anandology ,

Help fix this if you have some time:
https://github.com/webpy/webpy/issues/587

It’s committed by you, so you may have better understanding of why you made such change, fix it or revert it. :)

[2020-03-05 05:29] anandology commented on #587
Seems to be working file with postgres:

[code]

The issue seems to be with the `mysql.connector`  library.

[code]

The cursor is returning rowcount as -1 until the data is read.

[code]

As @berkakinci  pointed out, the issue is we are using mysql.connector with unbuffered cursor.

The following StackOverflow thread explains it clearly.
https://stackoverflow.com/questions/46682012/what-is-a-mysq

[2020-03-05 05:32] anandology commented on #587
Found it. Passing `buffered=True` when creating the database does the trick.

[code]

[2020-03-05 05:59] iredmail commented on #587
Great, maybe tag a new release after this fix?
@cclauss @anandology

[2020-03-05 06:04] cclauss commented on #548
Nice!  I see no downside to doing this.

[2020-03-05 06:20] anandology commented on #587
I've pushed a fix. Can someone else test and confirm?

[2020-03-05 06:21] anandology commented on #587
The tests are broken. It would be a good idea to convert the tests to py.test and setup github actions for CI.

[2020-03-05 08:56] cclauss opened #598 "Test cases fail on pypy3"
https://www.pypy.org can be turned on in GitHub Actions, Travis CI, etc. and then our tests fail on the Python `print()` function.

[2020-03-05 17:29] cclauss opened #599 "GitHub Action: Enable the mysql and postgres services"
https://github.com/webpy/webpy/blob/master/.github/workflows/lint_python.yml#L9-L36  Uncomment these lines and make our GitHub Action work against these databases like Travis CI does.  @anandology @iredmail

[2020-03-06 07:15] #599 closed

[2020-03-06 07:19] iredmail opened #601 "Discuss: drop Travis CI, pgdb and py2, tag new release."
- Replace Travis CI by GitHub Action.
- [x] The only one `pgdb` driver on pypi is not same as the original one, pgdb support is broken for a long time and was not tested in CI. #606
- [x] Tag and announce a new release? then entirely drop py2 support. Anything else before a new release?

[2020-03-06 08:48] cclauss opened #604 "PEP8: Remove wildcard imports like "from db import *""
These can be discovered via: `flake8 --select=F4 --statistics`
[code]

And can be fixed with https://www.asmeurer.com/removestar

[2020-03-06 08:53] iredmail commented on #598
Please enable pypy3 again and let’s try to fix it.

[2020-03-06 08:55] iredmail commented on #604
Removing stars is much better, let’s do this.

[2020-03-06 09:51] anandology commented on #604
What will that be replaced with?

[2020-03-06 13:21] cclauss commented on #604
[code]

[2020-03-12 01:12] iredmail commented on #601
Any comment about a new release? @cclauss @anandology

[2020-03-12 04:10] cclauss commented on #601
This [release](https://github.com/webpy/webpy/releases) will support legacy Python?  Let’s call it v0.50.

The release after will only support Python 3.5 and later?  Let’s call it v1.0.

[2020-03-12 05:03] iredmail commented on #601
Yes this new release still supports py2.

[2020-03-13 22:41] cclauss opened #609 "Should web.py enable Constant and DictComp by default?"
https://stackoverflow.com/questions/58518448/how-to-fix-execution-of-constant-statements-is-denied-error

[2020-03-14 07:12] iredmail commented on #609
It was fixed already:
- `Constant`: https://github.com/webpy/webpy/blob/master/web/template.py#L1270
- `DictComp`: https://github.com/webpy/webpy/blob/master/web/template.py#L1290`

[2020-03-14 07:12] #609 closed

[2020-03-14 12:02] anandology commented on #586
@rrguardo  can you provide a sample code to reproduce this issue?

[2020-03-14 13:06] christophe-dupriez opened #612 "Python3: web.template.render(TEMPLATES_DIR, base=layout) does not work"
I am trying to switch my applications to Python3. If I use a "base template", I always end with the following message (whatever workaround I tried). Without "base template", no problem (for now in very reduced test application).

templates/layout.html:
[code]
Error messages with parameter "base=layout" added to template.render:
[code]

[2020-03-14 13:22] cclauss commented on #612
I have seen this before too but I do not understand how to fix it.

`def with():` is a Syntax Error in both Python 2 and Python 3.

https://github.com/webpy/webpy/blob/master/web/debugerror.py#L40 is the code that is raising the Syntax Error.

https://github.com/webpy/webpy/blob/master/web/template.py#L554-L575 is `class DefwithNode`

https://github.com/webpy/webpy/blob/master/web/template.py#L125

[2020-03-16 11:04] Alessandro-Barbieri opened #613 "new release"
Could you tag a new release? I want to package it for gentoo but the last release fails tests.

[2020-03-16 11:05] #604 closed

[2020-03-16 11:06] iredmail commented on #613
cc @anandology @cclauss

If there's no urgent issues left, it's time to tag a new release.

[2020-03-16 11:07] cclauss commented on #613
I would also like to start testing it on https://github.com/internetarchive/openlibrary

[2020-03-16 11:10] Alessandro-Barbieri commented on #613
Even a minor release is fine

[2020-03-16 11:22] cclauss commented on #613
Does gentoo still need to support Python 2 or has it gone Python 3-only?

[2020-03-16 11:34] Alessandro-Barbieri commented on #613
Gentoo is removing all py2 only packages, the interpreter is still around but will be removed (I hope soon)

[2020-03-18 09:40] cclauss commented on #613
Why are our GitHub Actions failing?

[2020-03-18 12:49] iredmail commented on #613
@cclauss Fixed in #614

[2020-03-18 12:58] cclauss commented on #613
I think we are ready for the new release.

[2020-03-18 13:00] iredmail commented on #613
Just do it. :)

[2020-03-18 13:33] cclauss commented on #613
;-). I am not a [PyPI maintainer](https://pypi.org/project/web.py/) of this package so I think that @anandology is the only one who has rights to publish a new version to PyPI.

[2020-03-18 13:35] iredmail commented on #613
Me either.

@anandology could you please grant the permission on pypi too?

[2020-03-19 15:48] iredmail commented on #613
New release tagged: `0.50`.

[2020-03-19 15:48] #613 closed

[2020-03-19 15:49] #601 closed

[2020-03-19 15:55] #587 closed

[2020-03-19 15:56] iredmail commented on #548
Duplicate in #564

[2020-03-19 15:56] #548 closed

[2020-03-19 15:56] #504 closed

[2020-03-19 22:15] christophe-dupriez commented on #612
Any idea how this issue will eventually be solved? Anything I can do ?

[2020-03-19 22:52] imbellish commented on #612
The only thing that's changed near that string in the last 14 years is this commit. https://github.com/webpy/webpy/commit/e89daa8296ff858bbc37529143de372886ccc9c1

Try removing the r before defining that string. $ would need an escape.

[2020-03-20 07:27] iredmail commented on #598
@anandology Could you help take a look at this pypy3 issue?

Function `print` is correctly disabled in template with py2 + py3, but not pypy3.

[2020-03-20 07:36] iredmail commented on #612
Seems working for me with the latest web.py-0.50 and python-3.7.3 (macOS).

- templates/layout.html

[code]

- template/test.html

[code]

- Python commands:

[code]

Output:

[code]

[2020-03-20 07:42] iredmail commented on #612
Tested with Python-3.5.2 on Ubuntu 16.04.6, works for me too.

The error you got, `TypeError: __template__() takes 0 positional arguments but 1 was given`, means your `layout.html` file doesn't have this line at the beginning:

[code]

[2020-03-20 07:44] iredmail commented on #522
Since `black` and `flake8` are enabled in GitHub Actions and Travis CI by default, issue closed.

[2020-03-20 07:44] #522 closed

[2020-03-20 08:17] cclauss commented on #612
Could we please drive defensively and put:
[code]

[2020-03-20 08:21] christophe-dupriez commented on #612
Thanks a lot for your help and please excuse my stupid error. Keep on the good job !

[2020-03-21 05:01] #612 closed

[2020-03-21 05:58] iredmail opened #619 "[WIP] Drop py2 support"
A TODO list to drop py2 support completely:

- [ ] Remove all `if PY2:`
- [ ] Remove `py3helpers` IF POSSIBLE.

[2020-03-21 14:59] iredmail commented on #619
@cclauss @anandology should we start to drop py2 support now? Or anything else you want to hold it for some time?

[2020-03-21 16:49] #301 closed

[2020-03-21 16:49] #295 closed

[2020-03-21 16:51] #264 closed

[2020-03-21 16:52] #249 closed

[2020-03-21 16:53] #236 closed

[2020-03-21 16:53] #167 closed

[2020-03-21 16:54] #93 closed

[2020-03-21 16:56] #32 closed

[2020-03-21 17:06] iredmail commented on #589
- replacing “os.rename” by “shutil.move” should fix this issue and is more robust.
- although py2 is dead and we are dropping it, this change is still required for py3.
- “shutil” is a builtin module in py3.

[2020-03-21 17:10] #29 closed

[2020-03-21 17:11] #175 closed

[2020-03-21 17:12] #214 closed

[2020-03-23 20:16] rrguardo commented on #586
@anandology Just now read the message, will provide the code in next 24-48 hours.
I can't provide the real code because it is private. But I guess that any other small implementation using same libs will fail/reproduce same errors, I will be working in build a new sample from zero.

[2020-03-24 20:41] rrguardo commented on #586
Was working in distinct scripts to test the problem and until now, I am not able to replicate the it locally in ubuntu OS using similar services (gevent StreamServer).

Part of the team believe that problem could be at online servers libs that use FreeBSD.
But problem could be too at a wrapper we use for web.db that somehow is not efficient with new webpy versions.

We are yet researching and busy

[2020-03-25 01:08] iredmail commented on #589
Dear @qujianbiao @shanshangzhiren @liusp913xx

Could you help test my proposal (replacing `os.rename` by `shutil.move`, mentioned in previous reply)? with either web.py 0.40 or 0.50.

I don't have a Windows machine for testing.

[2020-03-25 01:20] liusp913xx commented on #589
well done, it really works~
tks

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"iRedMail"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月25日(星期三) 上午9:08
收件人:&nbsp;"webpy/webpy"<webpy@noreply.github.com&gt;;
抄送:&nbsp;"31872132"<31872132@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [webpy/webpy] session.py in my windows10, DiskStore [class os.rename(tname, path

[2020-03-25 18:35] stroeder opened #624 "cheroot as optional dependency"
Is cheroot really required? I run my web apps via uwsgi without cheroot just fine. Thus I'd like to avoid having to install cheroot and its dependencies.

[2020-03-25 18:47] stroeder opened #625 "version 0.51 not in master branch"
Is it intentional that version 0.51 is only present in branch py2?

[2020-03-25 20:25] stroeder commented on #625
Content of _ChangeLog.txt_ is very confusing regarding Python 2:
- it says in both branches: `0.40` is the last release which supports Python 2 but branch _py2_ contains version 0.50 and 0.51
- in branch _master_ there's an entry for version 1.0 prepared which explicitly mentions that Python 2 support was dropped but version 0.51 is missing therein

For me it's not clear whether support for Python

[2020-03-25 20:30] cclauss commented on #625
Anything before v1.0 should support legacy Python.
Anything >= v1.0 should __not__ support legacy Python.

[2020-03-26 02:08] iredmail commented on #625
I'm sorry guys, i made a mistake yesterday.

I removed 0.50 on pypi and prepared a new package, but pypi doesn't allow uploading file with same version number. Had to tag 0.51 for this purpose and now leads to chaos. 😂

[2020-03-26 02:09] anandology opened #627 "Add MANIFEST.in file to include docs, tests and other files"
The recommended way to specify additional package data is by including a MANIFEST.in file.

https://docs.python.org/3.7/distutils/sourcedist.html#specifying-the-files-to-distribute

[2020-03-26 02:49] iredmail commented on #624
cheroot is not required if you run your web.py application with other wsgi/cgi/fastcgi server like uwsgi, gunicorn, etc. But it's required if you run it with command `python your-app.py` directly, it's used as builtin wsgi server.

I personally prefer to remove cheroot, then no any dependent external packages.

[2020-03-26 03:01] anandology commented on #625
@iredmail, could you please create a branch for 0.51 and add the new changes that went to the 0.51 release? It important to retain a reference to every release.

You can release 0.52 one we figure out the setup.py/MANIFEST issues.

[2020-03-26 03:03] iredmail commented on #625
@anandology You can switch to py2 branch instead: `git checkout py2`. It's reserved branch for py2 support if we have some bugs in 0.5x.

[2020-03-26 03:04] anandology opened #629 "Document how to make a new release"

[2020-03-31 17:08] regmiscacc opened #630 "def with (exception_type, exception_value, frames) ^ SyntaxError: invalid syntax"
Here is my code.py:
import web
render = web.template.render('templates/')

urls = (
  '/', 'index'
)

class index:
  def GET(self):
    return render.index()

if __name__ == "__main__":
 app = web.application(urls, globals())
 app.run()

And here is my templates/index.html
`<em>Hello</em>, world!`

When i run it, i getting this error:
**Traceback (most recent call last):
  File "C:\Python38\lib\si

[2020-03-31 18:06] cclauss commented on #630
No semicolon at the end of the line???

[2020-03-31 23:45] imbellish commented on #630
To clarify:
[code]

The built-in debug template itself no longer starts with a $ in this commit https://github.com/webpy/webpy/commit/e89daa8296ff858bbc37529143de372886ccc9c1#diff-8cb9990e42dd192c282402bb2016483dR38

[2020-03-31 23:57] imbellish commented on #630
@cclauss what's your pull request process? I'm happy to contribute, simple fix.

[2020-04-01 04:32] cclauss commented on #630
Pull requests gladly accepted and reviewed.  Our GitHub Actions-based continuous integration will run [pytest](https://github.com/webpy/webpy/blob/master/.github/workflows/lint_python.yml#L70) on all pull requests so we would also be delighted if you added tests.  Thx!

[2020-04-01 11:30] iredmail commented on #629
hi @anandology

could you help finish this issue?

[2020-04-01 11:51] cclauss opened #632 "GitHub prevent push to master branch"
It is too easy to push directly to master.  We should force everyone (or at least me) to go through the pull request process before changes land on the master branch.
https://help.github.com/en/github/administering-a-repository/enabling-branch-restrictions

[2020-04-01 11:52] iredmail commented on #632
I don't have such privilege, let's call @anandology :)

[2020-04-01 12:01] cclauss commented on #630
Sorry...  I mistakenly pushed a solution directly to `master`.  Can you please retest your code against master and see if this problem continues to exist?  #631

[2020-04-01 13:04] zhengzhi163 opened #633 "Session issue on Windows platform"
from version 0.40 on, there is a critical bug in the Session module on Windows platform. it' brought by this commit https://github.com/webpy/webpy/commit/058672df9cf7b717da7b0f5d0540875853940862#diff-8a8747d48229930871bbbe6e4bd8767e
in this commit, when server receive a request from client, it will create a new session file(named with Thread), and rename it to the original session file by 'os.rena

[2020-04-01 13:05] iredmail commented on #633
Could you replace `os.rename()` by `shutil.move()` and try again?

[2020-04-01 13:13] zhengzhi163 commented on #633
yes, just noticed it's already raised by other guy before, and i found the solution there, thanks

[2020-04-01 13:13] #633 closed

[2020-04-05 04:22] #589 closed

[2020-04-05 07:39] wdjwxh commented on #630
pip version is wrong.
so this issue shoue be handle asap.

[2020-04-05 09:38] iredmail commented on #630
Wrong on which web page or document?

[2020-04-05 10:42] cclauss commented on #630
On PyPI...  We need a new [release](https://github.com/webpy/webpy/releases) of master.

[2020-04-06 05:35] cclauss commented on #630
@wdjwxh Can you please do `pip install -e git+https://github.com/webpy/webpy.git@master` and verify that the current code fixes this problem for your codebase?

[2020-04-07 14:16] wdjwxh commented on #630
It's works nice~, no problem

[2020-04-08 08:58] GuillaumeDerval opened #635 "PR #575 breaks multipart forms with long text parts"
PR #575 (issue #574) attempts to circumvent an upstream issue with the CGI lib (https://bugs.python.org/issue27777, candidate patch: https://github.com/python/cpython/pull/11764), by forcing all "files" created by `cgi.FieldStorage` to be binary ones.

Sadly, this breaks multipart forms with very long text parts.

How to reproduce:
[code]

Then start the app and give a very long text to the textar

[2020-04-11 02:19] liuming-dev commented on #619
webpy.org information should be updated

[2020-04-11 02:32] liuming-dev commented on #504
I will do it in my spare time.

[2020-04-11 03:17] iredmail commented on #504
👍 @liuming-dev 欢迎

[2020-04-11 06:30] anandology commented on #619
I think we can drop the support for python2 now.

On Sat, Apr 11, 2020 at 7:49 AM 小明同学 <notifications@github.com> wrote:

[2020-04-18 17:02] scyclops opened #637 "unicodify str usage"
I think this

https://github.com/webpy/webpy/blob/16de3147e61aa4dc735efa116c50603707fb0683/web/utils.py#L166

should be:

[code]

Because in python 2, str will be a byte string and things will work but in python 3 str will be a unicode string and the to_unicode call on the next line will never be called on byte strings.

Or if it's only meant to be called on string types then it should be:

[code]

[2020-04-18 18:42] cclauss commented on #637
`if _unicode and isinstance(s, bytes):` seems more intuitive.
* Python 2: `bytes == str`  # True because there is no distinction between bytes and str
* Python 3: `bytes == str`  # False because Python 3 strictly enforced that distinction

[2020-04-23 07:33] abitrolly opened #638 "No module named `flup.server.fcgi`"
I am trying to run [this old code](https://github.com/osm-by/OpenStreetMap.by/blob/a2aa04d022f06bf8ee82f6de036cd61a37604907/index.py#L684-L687) and there is an error coming from the depths of 0.51 `web.py`
[code]

[2020-04-23 07:39] cclauss commented on #638
[Which `flup`](https://pypi.org/search/?q=flup) is being installed?  `flup`, `flup6`, or `flup-py3`?

Given that Python 2 is end of life, have you tried running this on Python 3?

[2020-04-23 08:58] abitrolly commented on #638
@cclauss the code I am trying to launch is not Python 3 ready. I have no idea which `flup` is needed - expected `pip install wep.py` to fetch all required dependencies automatically.

[2020-04-23 09:07] abitrolly commented on #638
With `pip install flup` now the problems is different.
[code]

[2020-04-23 09:08] cclauss commented on #638
https://stackoverflow.com/questions/8589008/python-2-7-import-flup-error

[2020-04-23 09:35] abitrolly commented on #638
@cclauss yes, `pip install flup==1.0.2` helped. Now I've stuck with this.
[code]

[2020-04-23 09:37] abitrolly commented on #638
[The code](https://github.com/osm-by/OpenStreetMap.by/blob/a2aa04d022f06bf8ee82f6de036cd61a37604907/index.py#L684-L687) that produces the error is dealing with starting `web.py` handlers for Apache in standalone mode.
[code]

[2020-04-23 10:08] abitrolly commented on #638
I removed this line from the snippet above, and `index.py` started successfully.
[code]
No idea what it does. It was added as a part of this huge `formatting fix` https://github.com/osm-by/OpenStreetMap.by/blob/5b940417230aafca92b80c05e82efb31077d70db/index.py Could be a wrong debugging code.

There is another missing dependency though.
[code]
Maybe add those missing dependencies as optional compo

[2020-04-23 10:22] cclauss commented on #638
https://github.com/webpy/webpy/search?q=Cheetah&type=Commits

[2020-04-23 10:26] abitrolly commented on #638
@cclauss that's why it is `web.contrib.template`? I don't see why it could not be an optional dependency - just for people to be aware that there is such possibility.

[2020-04-23 12:33] abitrolly commented on #638
After installing `cheetah` the web page finally rendered. But instead of static resources, `web.py` returns HTML. Perhaps removed line is connected to an attempt to fix that?

![image](https://user-images.githubusercontent.com/8781107/80099616-6af0f480-8577-11ea-8d9c-276cc6e6ed61.png)

[2020-04-23 12:43] abitrolly commented on #638
Sounds like there is [no mechanism](https://webpy.org/cookbook/staticfiles) in `web.py` to serve static resources for development. But that's another problem.

I guess the issue with `flup` can be closed. Or I can send you a patch for optional dependencies to `requirements.txt` if you can explain me the use cases for `flup` in `web.py` code.

[2020-04-23 13:04] abitrolly opened #639 "How to run standalone server on `localhost`?"
I don't want to risk running `web.py` development server open to local network. What is the official way to modify the code below to run on `localhost` `127.0.0.1`?
[code]

[2020-04-23 14:27] iredmail commented on #639
Easy, if you run webpy code directly, just specify the IP address and port on command line:

[code]

If you run webpy code with a web server like Apache/Nginx, handle it in Apache/Nginx. :)

[2020-04-23 14:27] #639 closed

[2020-04-23 14:29] iredmail commented on #638
Flup is mentioned on https://webpy.org/install:

Nowadays we prefer WSGI for better performance, in this purpose, package `cheroot` is used and already added in `setup.py` as dependence.

[2020-04-23 15:14] abitrolly opened #640 "Reusing StaticApp for serving static files outside of `./static` dir"
There are two reasons not to serve static files with `web.py`.

1. It is slow to pipe file through Python
2. It might be a security risk

Both of these points are not addressed in https://github.com/webpy/webpy.github.com/blob/master/cookbook/staticfiles.md leaving the user to guess.

For my purpose - debugging a legacy web app built with `web.py` - a knowledge how to serve static resources not on

[2020-04-23 15:16] abitrolly commented on #639
@iredmail I want to run `code.py` without additional command line parameters to make it secure by default.

[2020-04-23 15:25] iredmail commented on #640
You can use the webpy builtin web server for development, then use a standalone web server in production.

[2020-04-23 15:27] abitrolly commented on #639
@iredmail can I refer to this as to officially recommended hack for securely running `web.py`? :)
[code]

[2020-04-23 15:29] abitrolly commented on #638
@iredmail can those `install` docs mention `flup` only in specific cases where it is needed?

[2020-04-23 15:38] cclauss commented on #638
I think those docs need be modified to point to the [Python 3 version](https://pypi.org/project/flup-py3) so:
`python3 -m pip install flup-py3`

[2020-04-23 15:40] abitrolly commented on #640
@iredmail yes, this question is about `web.py` builtin web server.

[2020-04-23 15:40] abitrolly commented on #638
@cclauss what's the point pointing to package that is not used?

[2020-04-23 15:47] cclauss commented on #638
Some users may _optionally choose_ to use flup which is why it is documented.  If they choose to do so, it would be better if they do not install the version designed to work with legacy Python.

[2020-04-23 17:25] abitrolly commented on #638
@cclauss what is the reason for them to install `flup`? As a new user maybe I need that too.

[2020-04-23 17:46] cclauss commented on #638
iredmail answered that above https://github.com/webpy/webpy/issues/638#issuecomment-618427885

You already did... https://github.com/webpy/webpy/issues/638#issuecomment-618279990

[2020-04-23 19:30] abitrolly commented on #638
Missed that part. My bad. I guess it can be closed then. No need to keep it lingering.

Just in case, here is the info how to add optional dependencies to `requirements.txt`
https://stackoverflow.com/questions/3664478/optional-dependencies-in-a-pip-requirements-file

[2020-04-23 19:30] #638 closed

[2020-04-24 16:52] abitrolly commented on #640
I took https://github.com/webpy/webpy/blob/16de3147e61aa4dc735efa116c50603707fb0683/web/httpserver.py#L257 for the inspiration and came up with the middleware that services all files that exist under web site root directory.

It might be totally insecure for closed source and for somebody who store secrets in the directory with sources. However, I could not traverse to parent directory for some re

[2020-04-24 16:52] #640 closed

[2020-04-24 16:55] abitrolly commented on #640
I changed the title to clarify what it is all about. Not sure if it is better, though. )

[2020-04-29 08:42] chicanosPsg opened #641 "Def with SyntaxError: invalid syntax"
HI
I made a simple code for learn WebPy , I have the latest version 0.51 but that not work

------ file Controller -----
import web

urls = ('/', 'home')

render = web.template.render("Views/Templates", base = "MainLayout")
app = web.application(urls,globals())

#Clases/Routes

class home:
    def GET(self):
        return render.Home()

if __name__ == "__main__":
    app.run()

----- file MainLay

[2020-04-29 08:51] cclauss commented on #641
https://github.com/webpy/webpy/issues/630#issuecomment-609574816

[2020-04-29 08:54] chicanosPsg commented on #641
I install via the terminal pip install web.py==0.51

[2020-04-29 08:55] cclauss commented on #641
Yes.  That is why it is not working.  Please try to pip install from master.

[2020-04-29 08:57] chicanosPsg commented on #641
ok sorry for this stupid question but how you install from the master ?

[2020-04-29 09:02] cclauss commented on #641
See the pip command under `#630 (comment)` above.

[2020-04-29 10:28] chicanosPsg commented on #641
sorrry but missing something in my setup

(venv) C:\Users\VIVOBOOK\PycharmProjects\CodeWizard>pip install -e git+https://github.com/webpy/webpy.git@master
Could not detect requirement name for 'git+https://github.com/webpy/webpy.git@master', please specify one with #egg=your_package_name

[2020-04-29 10:45] iredmail commented on #641
I don't have Windows OS for testing. :(

[2020-04-29 15:40] chicanosPsg commented on #641
I have download the web folder from the master and replace the old file in my envirronement

now I have a new error :

  File "C:\Users\VIVOBOOK\PycharmProjects\CodeWizard\venv\lib\site-packages\web\template.py", line 1093, in _load_template
    raise AttributeError("No template named " + name)
AttributeError: No template named Home

[2020-04-29 18:18] chicanosPsg commented on #641
I have found my error . it was a path problem ...
So evrything works
Thx so lot

[2020-04-29 18:51] #641 closed

[2020-05-07 20:59] rrguardo opened #642 "Sessions not working on Firefox 32bit."
Affected webpy versions from **0.40** to **0.51** (tested only with python2.7)
Last know version working **web.py 0.39**

Apparently the session is unable to persist, and users can't login.

[2020-05-07 21:27] rrguardo commented on #642
We observe other unusual session and cookies behavior in more use 64 bits browsers(chrome, firefox).
The logout logic stop working, maybe other bug at cookie delete functions.

[2020-05-08 06:34] iredmail commented on #642
hi @rrguardo

- Do you have same issue on Linux/macOS? also x86_64?
- Any webpy code snippet to reproduce the issue for debugging purpose?

[2020-05-08 14:15] rrguardo commented on #642
hi @iredmail

The logout stop working in our app in all browsers, windows7 .. wind 10, linux ubuntu, etc .. all browsers (32 or 64 bits).
Part of the problem was our app that don't delete properly the session storage after logout. But it worked many years with previous versions of webpy in that way. I guess that new session libs versions, somehow don't delete the cookies at browser after logout an

[2020-05-08 14:16] iredmail commented on #642
Again, Any webpy code snippet to reproduce the issue for debugging purpose?
We cannot debug / troubleshoot based on your description.

[2020-05-08 14:17] rrguardo commented on #642
Yes sure give me ~1 hour to create a sample.

[2020-05-08 14:20] rrguardo commented on #642
Note that we implement a subclass of `session.Store` and maybe the problem is there that somehow it is not compatible with new session libs.

[2020-05-08 14:22] rrguardo commented on #642
about the login problem, it only happen at specific firefox versions the ones with 32 bits in all windows OS.

[2020-05-08 16:01] rrguardo commented on #642
Here is the example code:

[code]

[2020-05-08 16:03] rrguardo commented on #642
To solve it at web.py >= 0.40 now is necessary implement properly
[code]
This was not necessary with  web.py < 0.40

[2020-05-08 16:11] rrguardo commented on #642
Just now confirmed that login problem is visible too in sample code provided.

[2020-05-08 16:11] rrguardo commented on #642
Use any recent firefox 32bit browser to observe the problem.

[2020-05-08 16:54] rrguardo commented on #642
I updated the sample to make it work on python3.7.
We can see that recent python versions are affected too.

[2020-05-09 02:49] iredmail commented on #642
Did you try the code snippet without your own `MemcacheStore`?

[2020-05-11 15:17] rrguardo commented on #642
Yes the login problem(firefox 32bit) is present at framework *web.session.DiskStore*.

[2020-05-11 15:26] rrguardo commented on #642
It is the first time in more than around 7 years that our sessions stop working after a new webpy release.
That **MemcacheStore** session class survive to all webpy version in around 7 years until v0.40 arrive.

Something similar happen with database module, after version 0.40 our app stop working with performance problems.

[2020-05-19 22:35] csawyerYumaed commented on #642
sessions stopped working for me as well, but I turned off debug and the session_with_reloader config (https://webpy.org/cookbook/session_with_reloader) and it works again.

[2020-05-20 10:41] abhijitnarvekar opened #643 "sql query results cannot be accessed using the dictionary key ."
hi,
I have a sample setup with a Postgresql DB. A table in the database is as below:

[code]

Further, I use web.query to read the table cdt0001 with the following code:

`creds = db02.select(' cdt0001', vars ={'user': i.uname}, where="email = $user", what="salt, passcode" )`

Note: I have tried using  db02.query and the results are the same.

Then, I try to access the dictionary creds as follows:

[2020-05-20 11:47] iredmail commented on #643
FYI: https://webpy.org/cookbook/select

If you want to access it with your code like below:

[code]

Convert the result to list first:

[code]

[2020-05-20 11:47] #643 closed

[2020-05-20 12:21] abhijitnarvekar commented on #643
thanks iredmail. Hopefully the page `https://webpy.org/cookbook/select   `  could be updated to include your remarks on how to utiize the results of an SQL query. I am referring to the section '_The query result (results in above example) is an iterator of dict-like storage items, you can access them like below:_ ' It does not refer to converting the iterator to a list. And I admit to following it

[2020-05-20 12:48] iredmail commented on #643
Updated: https://webpy.org/cookbook/select

[2020-05-22 12:52] abhijitnarvekar opened #644 "example in tutorial on URL 'https://webpy.org/cookbook/sessions' is not working."
Hi,
Refering to tutorial on URL https://webpy.org/cookbook/sessions

the sample code is alright except that if implemented in a Postgres DB, the data-type of the data column must be bytea instead of text. Otherwise, the following error is reported during run-time.

[code]
In the interest of beginners(such as me) in the community, please update the document with the correct database table specifica

[2020-06-04 20:05] lujoamel4 commented on #644
The same on MySql.  I had
create table sessions (
    session_id char(128) UNIQUE NOT NULL,
    atime timestamp NOT NULL default current_timestamp,
    data text
);
so I ran:
ALTER TABLE sessions DROP COLUMN data;
ALTER TABLE sessions ADD COLUMN data VARBINARY(255);

and then it's works for me.

[2020-06-04 20:24] lujoamel4 commented on #630
`pip install -e git+https://github.com/webpy/webpy.git@master`
It does not work for me. Error message:
`Could not detect requirement name, please specify one with #egg=
`
When a new release is coming ? So I can install webpy from pip normally.

[2020-06-05 05:04] iredmail commented on #644
Could you help verify this patch? It works for me.
https://github.com/webpy/webpy/pull/645

[2020-06-05 05:43] iredmail commented on #630
@cclauss @anandology Should we release a new version? Any left issues/PRs?

[2020-06-09 12:26] #644 closed

[2020-06-09 13:09] iredmail commented on #586
Close due to no sample code to reproduce the issue. Feel free to reopen with sample code.

[2020-06-09 13:09] #586 closed

[2020-06-09 13:11] iredmail commented on #632
Still no update from @anandology ... too sad.

@cclauss don't be afraid to push to master mistakenly, we can revert the commit.

[2020-06-09 13:11] #632 closed

[2020-06-10 02:12] anandology commented on #632
On Tue, Jun 9, 2020 at 6:42 PM iRedMail <notifications@github.com> wrote:

Sorry, some how I missed this one.

Done now.

Anand

[2020-06-10 02:15] iredmail commented on #632
Thanks @anandology

If you have some time, we have some issues pending on you. :)

[2020-06-10 10:29] freisein commented on #150
I checked it out, but the server/request is hanging before an request is completed.

[2020-06-10 10:53] cclauss commented on #150
That code is from 8 years ago and contains at least 5 files that have Python 3 syntax errors.

flake8 testing of https://github.com/songdi/webpy-socketio on Python 3.8.3

$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]

[2020-06-13 11:51] freisein commented on #150
Hi,

how are you.
The code was written by a Chinese and don't work for me, what about you?

Are you open to work with other software developers together?

I do Software development for 17 years with C++ and Python.

Yours,
Andreas

-------------------------------------------------
This free account was provided by VFEmail.net - report spam to abuse@vfemail.net

ONLY AT VFEmail! - Use our Metadata

[2020-06-14 09:12] Max-Lumnar commented on #630
not working

[2020-06-15 19:22] lujoamel4 opened #647 "utils.py: name 'id' is not defined"
I'm porting a web application from python2 to python3. I'm try to running with Apache:

`Apache/2.4.29 (Ubuntu) mod_wsgi/4.5.17 Python/3.6 configured -- resuming normal operations`

Now I'm having this trouble:

[code]

It seems to be a bug in webpy, anyone has this issue?

[2020-06-15 21:28] cclauss commented on #647
https://docs.python.org/3/library/functions.html#id

[2020-06-15 21:28] #647 closed

[2020-06-22 11:15] manutaberner commented on #630
how did you solve it? I am having the same problem, once I try to use a template, it does not work...

[2020-06-23 17:56] pbuckner opened #648 "query("insert... returning") fails to commit"
performing db.query("INSERT into sample_table (value) VALUES ('a')" )works as anticipated: data is stored and committed.

performing db.query("INSERT into sample_table (valid) VALUES ('a') RETURNING idx") fails to commit the insert. Data is added to database, idx is indeed returned, but the insert is not committed, so data is not available.

Problem is due to class DB, query() change with introduc

[2020-06-24 08:15] #648 closed

[2020-06-24 16:23] scyclops commented on #637
I think this issue may have been closed by accident.  The bug reported by this issue is still present in the code.

[2020-06-28 02:20] cc-tse opened #650 "function db.multiple_insert will not work when items contain SQLLiternal object"
when database supports_multiple_insert and run the below code:
[code]
error will be thrown:
[code]

[2020-07-03 12:40] AndreLouisCaron commented on #268
@iredmail In that example you posted above, isn't the issue created because the sample code uses import-time side-effect to invoke the app (which triggers a nested request)?

If you change the code to this (to avoid `web.py` importing `'index'` from `globals()`), it works:

[code]

[2020-07-03 13:13] AndreLouisCaron commented on #268
I'm confident this issue arises in presence of concurrency.  The `web.application._cleanup()` function calls `web.ThreadedDict.clear_all()`, which clears `web.ctx` in *all* threads.  This is called at the end of `.wsgifunc()`.  If any 2 requests execute concurrently, the first to finish will clear `web.ctx` for the other.

There are related issues with `web.ctx`, such as incorrect handling of nest

[2020-07-06 18:45] lujoamel4 commented on #273
I was having trouble with that. But it really is not a mistake.
If you run
`form.Checkbox ('Monday', description = "Monday")`
webpy will show:
[code]
After submitting the form, Monday's input value will be None, so in python bool (None) == False.

I think webpy should render something like this:
[code]
when no value is set because bool ("1") == True.

If someone is currently having this issue, can

[2020-07-07 00:56] iredmail commented on #273
Your Python code doesn't specify attribute `value` at all, so it's empty value. Try this:

[code]

[2020-07-08 09:39] MisakiKata opened #654 "Table name exists injection"
Table name exists injection

When calling `db.multiple_insert` to insert data, the internally implemented SQL statement uses the form of splicing as follows

[code]

When the values parameter is passed by the front-end combination, the current end passes in a json value like `{"title":"admin","content":"admin"}` to the text parameter`db.multiple_insert("entries" , [text])`. The form of the insert

[2020-07-08 09:45] iredmail commented on #654
Could you give us a complete Python code snippet to reproduce this issue?

[2020-07-08 10:43] MisakiKata commented on #654
@iredmail The code is Code Examples blog, Transmission of json format field, in order to facilitate me to use the form of parameter name transmission:
[code]
model.py
[code]
The request method is：
[code]

[2020-07-08 10:54] iredmail commented on #654
Probably the most important rule for web development: do not trust the data submitted by user.
Your code is extremely dangerous because you don't check/validate user input at all, such SQL injection is expected.

Could you please create a simple web.py app which i can run with command `python app.py`, and give me full `curl` command used to reproduce the issue?

[2020-07-08 10:59] iredmail commented on #654
What's the full `curl` command you used to send the POST data?

[2020-07-08 11:15] MisakiKata commented on #654
curl:
`curl -i -X POST http://10.102.45.112:8080/new --data "str={\"title\": \"222222\",\"content)%20VALUES%20('admin'%20or%20updatexml(1,concat(0x7e,(version())),0)%20or%20'')%3b#(\": \"qweqwe\"}"`
Do you need app.py?

[2020-07-08 11:17] iredmail commented on #654
Not necessary. I can reproduce this issue now.

[2020-07-08 11:23] MisakiKata commented on #654
ok
Can this issue be fixed?

[2020-07-08 11:53] iredmail commented on #654
1. web.py already escape strings in column value, but not in column name. This causes this "issue".
1. I don't think this is an issue of web.py right now, because:
  1. you trust user input and use whatever user submitted as SQL column name.
  1. The result of `json.loads()` is not ready for SQL commands at all.

In your case, the `text` is a dict with 2 items, the 2nd key contains white spaces an

[2020-07-08 12:25] MisakiKata commented on #654
I think what you said makes sense. `json.loads` is to simulate the transmission of a json, to solve the type format problem. In most cases, we have no way to determine the programmer's security awareness, just like web.py has done a lot of escape strings for security. So, can do complete security processing for some unconscious scenes, instead of only performing security processing on a part after

[2020-07-08 12:39] iredmail commented on #654
User input is not trustable unless the program is only used by yourself. You have to specify the SQL column names in your code, and web.py helps handle the values.
I think we can close this issue now.

[2020-07-08 12:39] #654 closed

[2020-07-08 15:09] anandology commented on #654
On Wed, Jul 8, 2020 at 6:09 PM iRedMail <notifications@github.com> wrote:

That is correct. If the query is constucted using the user inputs
(including taking the table or column names) from the users, then the
developer should sanitize the input before passing it to web.py.

This issue not specific to multiple_insert, but also applies to insert and
where too.

"222222","content)%20VALUES%20('admi

[2020-07-10 02:53] iredmail commented on #650
The SQL statement generated by web.py seems correct:

[code]

- Could you try above command on your server and show us the console output?
- Could you try SQL driver `pymysql` instead of `mysql-connector`, then test your own webpy app?

[2020-07-10 07:05] cc-tse commented on #650
This problem occurs when db.supports_multiple_insert is True,  this will set to True when database driver is MySQL, may be PostgreSQL.
[code]

[2020-07-10 07:39] anandology commented on #650
Doesn't work for postgres too.

[code]

On Fri, Jul 10, 2020 at 12:35 PM cc-tse <notifications@github.com> wrote:

[2020-07-10 09:24] bpluly commented on #630
I have always created templates with...
`$def with(name)`
...as the first line. Obviously if there are objects that need passing for the template then they are the parameters, but I've always found that one was required.

The name doesn't need to be used in the template. I use the constant NAME in my main global file which has the name of app. And use it as...

[code]
def GET(self):
        name =

[2020-07-10 09:49] bpluly commented on #635
There's a PR on the cgi library issue https://github.com/python/cpython/pull/10771 though it needs improving (it uses readline rather than reading the content length), it is likely good enough for most cases. So, for me it makes more sense to take the patched cgi.lib than fix it in a dependent framework, where it can't really be fixed.

[2020-07-13 20:14] pbuckner opened #655 "Cannot set session cookie to be a "Session" cookie"
0.41 ignored session 'timeout', when setting session cookie & always set the cookie to expire with the browser session.

For some reason 0.50 sets the cookie to have a duration (always) and to set that duration to the value of session 'timeout'.

The problem is there is now no way to return to previous behavior and set a browser Session cookie. web.config.session_parameters['timeout'] must be nume

[2020-07-13 21:56] pbuckner commented on #655
Possible solution:
1) add parameter to web.config.session_parameters (session.py line 33), call is "cookie_session_only": False
2) Remove expires=self._config.timeout from def _save() (session.py line 161) -- this isn't needed anywhere
3) Modify  web.setcookie() within def _setcookie() (session.py line 173) to be something like:
expires = '' if self._config.cookie_session_only else (expires or sel

[2020-07-20 10:40] bpluly commented on #655
If you create a pull request it seems a reasonable thing to merge on the face of it.
Though I avoid sessions and cookies so far as I'm able.

[2020-07-21 10:08] anandology opened #657 "Use executemany for multiple_insert"
Currently web.db uses `cursor.execute` for multiple insert. For, example:

    db.multiple_insert('test', [dict(x=1, y=2), dict(x=10, y=20)]

will result in query:

    INSERT INTO test (x, y) VALUES (?, ?), (?, ?)

That the query length and the number of parameters grow with the number of rows being inserted. It is clumsy and inefficient.

However, this can be fixed using `executemany` function o

[2020-07-21 10:10] anandology commented on #650
I think it would be better to document that `SQLLiteral` is not compatible with `multiple_insert` instead of trying to fix this. If we implement #657, it will not be possible to support `SQLLiteral` at all.

@iredmail what do you think?

[2020-07-21 10:49] iredmail commented on #650
I think we should take care of SQLLiteral with multiple_insert first. The usage seems quite common.

I was busy and didn’t dive into this issue yet, if you have some time please try to help fix it. :)

[2020-07-21 15:09] anandology commented on #650
On Tue, Jul 21, 2020 at 4:20 PM iRedMail <notifications@github.com> wrote:

The db driver doesn't support anything like sqlliteral, that is an
abstraction that web.py provides. It is possible to handle that when doing
regular queries we can add that as string to the query instead of a
parameter. However, when we are doing multiple insert, the db driver
expects the same number of parameters for eac

[2020-07-23 15:10] anandology opened #658 "Release version 0.60"
Release version 0.60 with the current master. Also the document the process for making future releases.

[2020-07-23 15:17] anandology commented on #658
Tasks for making a new release.
- [ ] Bump the version in `web/__init__.py`
- [ ] Update the ChangeLog.txt and mark the release date in ChangeLog.txt
- [ ] build dist of the package and publish on pypi
- [ ] Update the documentation on the website

[2020-07-23 15:19] iredmail commented on #658
- [ ] Check `README.md` and update if necessary.

[2020-07-23 15:25] #625 closed

[2020-07-23 15:29] iredmail commented on #629
FYI #658

[2020-07-23 15:29] #629 closed

[2020-07-23 16:29] anandology commented on #658
Pushed to the documentation changes to webpy.github.com directly mistake instead of creating a PR.

[2020-07-23 16:34] anandology commented on #658
@iredmail did I miss anything?

[2020-07-23 16:41] iredmail commented on #658
Document the detailed commands for task “ build dist of the package and publish on pypi”.

This issue is kind of checklist, but lack of tech details for some task(s).

See https://github.com/webpy/webpy/issues/629

[2020-07-23 16:44] anandology commented on #658
Updated the checklist with command to upload to pypi.

[2020-07-23 16:54] iredmail commented on #658
Not yet finished, see https://github.com/webpy/webpy/pull/628

We need to save this checklist and related commands/files in git repo, someday we may leave this project, we can simply ask further developers to check the document.

[2020-07-23 18:10] tfmorris commented on #619
Sounds like this is complete. Congratulations!

[2020-07-25 05:05] #658 closed

[2020-07-25 05:31] cclauss commented on #658
I added a new bullet to the [top of the checklist](https://github.com/webpy/webpy/pull/662#issue-455942282) to cover that.  Are we still missing something?

[2020-07-25 05:35] iredmail commented on #658
Seems quite complete. 👍

[2020-07-25 07:21] iredmail commented on #34
No plan to fix this "issue".

[2020-07-25 07:21] #34 closed

[2020-07-25 07:22] iredmail commented on #457
Closed due to no further update.

[2020-07-25 07:22] #457 closed

[2020-07-25 07:29] iredmail commented on #627
Closed by #628 #663

[2020-07-25 07:29] #627 closed

[2020-07-25 10:12] iredmail commented on #624
hi @cclauss @anandology

What's your opinion about removing `cheroot`?

- No one run `pythonX app.py` (and/or proxy requests in Nginx) in production.
- We can document in `README.md` and ask users to install tools like `gunicorn` or `uwsgi` to run web.py app as wsgi application in development mode, also setup Nginx/Apache/... web servers to proxy the http requests.

[2020-07-25 10:36] cclauss commented on #624
I have no opinion on this topic.

[2020-07-25 10:37] iredmail commented on #624
Does this mean either removing or keeping it is ok for you?

[2020-07-25 10:49] cclauss commented on #624
For me, things are OK the way they are.  I believe that there is a lot to be said for "_It works out of the box".

If others feel passionately and can justify why multiple projects should change the way they install web.pyand are willing to modify our example code to work simply then I would listen to their reasons.

[2020-07-25 11:00] cclauss commented on #630
I believe that this is fixed in the current releases.  Can you please retest on v0.6x and let us know if we can close this issue?

[2020-07-27 16:16] cclauss opened #665 ""Yank" release v0.60 from PyPI"
[Web.py v0.61 is now released on PyPI](https://pypi.org/project/web.py) via #662 adds `python_requires='>=3.5'` so this release will not install on Python<3.5.

Please go into the [PyPI web pages](https://pypi.org/project/web.py/0.60/#history) and ["_yank_"](https://pypi.org/help/#yanked) the previous v0.60 release so that `python2 -m pip install --upgrade web.py` no longer fails.  Yank is a rever

[2020-07-28 07:15] cclauss commented on #665
@iredmail Do your PyPI rights allow you to yank release v0.60?

[2020-07-28 08:03] anandology commented on #665
Done.

On Tue, Jul 28, 2020 at 12:45 PM Christian Clauss <notifications@github.com>
wrote:

[2020-07-28 08:09] #665 closed

[2020-08-03 09:21] HackerLZH opened #666 "How to share session in the child application?"
The version of official cookbook is still 0.3 but I use the latest 0.61.When I learn how to share session in the child application, the solution given by official cookbook can't work. For example, after I used "session = web.ctx.session" in the child application, it reported an error as "AttributeError: 'ThreadedDict' object has no attribute 'session'" .It just did't share the session at all.
What

[2020-08-06 07:34] cclauss opened #667 "Support for Python's builtin breakpoint()"
https://docs.python.org/3/library/functions.html#breakpoint exists as a builtin function in Python >= 3.7 and would help to developers to step through the execution of code in templates.  Today I get `NameError: name 'breakpoint' is not defined` if I attempt to use it in a web.py template.

How would I enable the use of [__breakpoint()__](https://docs.python.org/3/library/functions.html#breakpoint

[2020-08-07 07:11] anandology commented on #667
Try this:

[code]

[2020-08-09 12:49] stroeder opened #670 "ResourceWarning: unclosed file <_io.TextIOWrapper"
with-statement should be used when calling open() to avoid this warning (when running on Python 3.8):

/usr/lib/python3.8/site-packages/web/template.py:1090: ResourceWarning: unclosed file <_io.TextIOWrapper name='/opt/ae-dir/etc/ae-dir-pwd/templates/en/requestpw_action.html' mode='r' encoding='utf-8'>
   open(path, encoding="utf-8").read(), filename=path, **self._keywords
 ResourceWarning: Enable

[2020-08-10 06:26] 52lemon commented on #630
I got an error in running the up example(python3.8.3)

C:\Python38\python.exe D:/AmazingDo/Mytest/webpyApp.py
http://0.0.0.0:8080/
Traceback (most recent call last):
  File "D:/AmazingDo/Mytest/webpyApp.py", line 19, in <module>
    app.run()
  File "C:\Python38\lib\site-packages\web\application.py", line 360, in run
    return wsgi.runwsgi(self.wsgifunc(*middleware))
  File "C:\Python38\lib\site-

[2020-08-10 06:37] cclauss commented on #630
This last commend has nothing to do with `def with`.

This issue is about https://docs.python.org/3/library/fcntl.html (which did have some changes in Python 3.8) and is code from https://github.com/cherrypy/cheroot so perhaps this issue should be opened on that repo.
* https://github.com/cherrypy/cheroot/blob/master/cheroot/connections.py#L46

[2020-08-10 06:42] cclauss commented on #630
Do you have a file named `fcntl.py` somewhere on your system?
[code]

[2020-08-27 06:24] 52lemon commented on #630
It's the problem of fcntl, not webpy.

[2020-08-27 06:48] cclauss commented on #630
@regmiscacc Can this issue be closed?

[2020-09-03 07:03] colinshin opened #673 "I got an error in python3.8"
Traceback (most recent call last):
  File "C:\Python38\lib\site-packages\web\application.py", line 278, in process
    return p(lambda: process(processors))
  File "C:\Python38\lib\site-packages\web\session.py", line 99, in _processor
    self._cleanup()
  File "C:\Python38\lib\site-packages\web\session.py", line 203, in _cleanup
    if current_time - self._last_cleanup_time > timeout:
TypeError:

[2020-09-03 07:08] colinshin commented on #673
Fix it  like below works. Webpy version is 0.61
if current_time - self._last_cleanup_time > timeout   ----->if current_time - self._last_cleanup_time > timeout[0]:

[2020-09-03 07:11] iredmail commented on #673
Is it possible that you incorrectly set the session timeout value to a triple?

[2020-09-03 07:14] cclauss commented on #673
https://github.com/webpy/webpy/blob/master/web/session.py#L36 should set it to an int.

[2020-09-03 07:46] colinshin commented on #673
@cclauss  @iredmail  it's my fault. I set it wrong.

[2020-09-03 07:46] #673 closed

[2020-09-04 08:46] 52lemon opened #674 "The route matching request method should be lowercase"
The route matching request method should be lowercase. Like "GET, POST, DELETE,PUT". It always prompt that the function name should be lowercase ，which does not conform to the pep8 specification

[2020-09-04 09:52] cclauss commented on #674
That would seem like a breaking change to me.

[2020-09-04 09:58] iredmail commented on #674
Yes it will break almost all existing webpy applications.

An alternative is adding an argument like `lowercase_http_methods=True` (defaults to `False`) while creating webpy application like this:

[code]

Some other changes may be required.

Source code: https://github.com/webpy/webpy/blob/master/web/application.py#L52

[2020-09-14 07:23] iredmail commented on #670
This PR should be closed by https://github.com/webpy/webpy/commit/76c5c7d23000b49d87318745b4bc9a9676f7e143

[2020-09-14 07:23] #670 closed

[2020-09-21 15:13] FrankIJskes opened #678 "Session data not thread safe?"
I have a js-page that does multiple async requests to my webpy program. Some requests take longer to process then others, because of db lookups. The end results of these lookups, i want to process and store in the session data. And after that, respond to the js-page with the data.
What happens is that after a thread updates the internal session data, it only (seems to ) changes a thread-local-copy

[2020-10-02 10:27] bpluly commented on #674
I wouldn't like to see this implemented. While a switch would make it fairly invisible to existing code it breaks all examples, ie documentation as well, and its functionally without benefit. Style should not impact function and in this case it would.

[2020-10-03 20:51] Max-Lumnar commented on #630
why close it while its still an issue? can it be fixed instead so we could install via pip as normal? would be awesome. Thanks for the hard work guys.

[2020-10-12 20:40] frostback13 opened #680 "NotADirectory Error"
When a session has expired and web.py creates a new session. the code that attempts to cleanup (i.e., delete) the old session file generates a NotADirectory error.  The cause of the error is the use of shutil.rmtree(path) to remove a file.  It only works if the argument is a directory.  To correct this, change the line to os.remove(path).

Note: I am not (yet) set up to work properly with git and

[2020-10-13 14:24] iredmail commented on #680
hi @frostback13, could you help test the fix in PR #681?

[2020-10-14 02:45] frostback13 commented on #680
The code looks correct to me and it works (for my use case) in my application.

[2020-10-14 07:54] #680 closed

[2020-10-17 01:27] colinshin commented on #619
It seems that there hasn't been much progress recently

[2020-10-17 05:31] cclauss commented on #619
Is there a pull request that you want us to review @colinshin ?

[2020-10-20 06:01] rbckman opened #683 "can't empty session storage list"
This has been working flawlessly in the past version but since I upgraded to new version 0.61 I can't set a session storage value to None or 0 once it has had another value other than that.

Pretty bad since I use it to store shopping cart items, now I need to kill session if I want to empty the cart.

[2020-10-20 06:03] iredmail commented on #683
I will try to check source code and figure it out, but if you can help find it, that would be better for me. :)

[2020-10-20 06:04] iredmail commented on #683
Do you have some code to help us reproduce the issue? It will help a lot otherwise I have to check source code “blindly”.

[2020-10-20 07:28] rbckman commented on #683
Hey, I can help find, will check source later today.

But basically I think u can reproduce it by giving a value to a session storage object, eg. 1 and then try to give it 0.

Tisdag den 20 oktober 2020 skrev iRedMail:

[2020-10-20 16:07] rbckman commented on #683
ok, so haven't had time to go check source code but wrote a minimalistic code to reproduce this bug, https://tarina.org/webpybughunt/files.html

will have time to go into web.py source tomorrow.

[2020-10-21 03:38] iredmail commented on #683
I can not reproduce the issue with your sample code. Tested on FreeBSD 12.1-p10, Python 3.8.6, web.py-0.61 (stable release, not the git clone edition).

[2020-10-21 08:58] danieldean commented on #680
I have just encountered this same issue and cloning the repo and installing from there works for me too.

Thanks for fixing.

[2020-10-21 09:03] iredmail commented on #680
@danieldean Thanks for the feedback.

[2020-10-21 10:00] rbckman commented on #683
ok, I havent been clear enough. Updated the repo to be much clearer. Here's a live version https://dev.tarina.org/

[2020-10-21 10:12] rbckman commented on #683
Same thing occurs on 3 different Debian boxes with latest stable and python 3.7.3. Running apache2 and web.py-0.61

[2020-10-21 11:23] iredmail commented on #683
Fixed in PR #684, could you please help test it?

[2020-10-21 11:23] iredmail commented on #655
Fixed in PR #684. Could you help test it?

[2020-10-21 11:23] iredmail commented on #642
This should be fixed in #684. Could you help test it?

[2020-10-21 11:28] rbckman commented on #683
YES! ! it works!!! thank you so much <3 wowoweewaa

[2020-10-21 11:28] iredmail commented on #683
Great. it's now waiting for reviewers to approve the PR.

[2020-10-21 11:28] #683 closed

[2020-10-21 15:23] pbuckner commented on #655
Yes, changes made to session.py with #684 fix this issue.

[2020-10-21 15:24] iredmail commented on #655
Thanks for the feedback. :)

[2020-10-21 15:24] #655 closed

[2020-10-29 14:34] iredmail commented on #678
Dear @FrankIJskes

Could you try the latest git version of web.py? It fixes few session issues.

[2020-11-03 19:56] lujoamel4 opened #686 "Foreing key error"
Hi! I have some issue in one of my currents projects.
I have a code that looks like:
[code]

The code works fine always on testing and most of time production. So I think that ther is no problem in my bussiness logic. But sometimes the mysql give me the following error:

This file is large and there and many other functions are using the _db_ object doing _insert(), update(), query()._

I was read

[2020-11-05 17:50] FrankIJskes commented on #678
Unfortunately, this part is still not working.

[2020-11-06 04:42] iredmail commented on #674
No plan to implement this. Issue closed.

[2020-11-06 04:42] #674 closed

[2020-11-06 04:43] #667 closed

[2020-11-06 04:46] #624 closed

[2020-11-06 04:49] iredmail commented on #558
Turns out I don’t have enough time for this. So issue closed. :(

[2020-11-06 04:49] #558 closed

[2020-11-06 14:00] cclauss opened #687 "Why does application.load() assume that ctx.path will be a latin1 string?"
[ctx.path = env.get("PATH_INFO").encode("latin1").decode("utf8")](https://github.com/webpy/webpy/blob/master/web/application.py#L456)

[2020-11-06 15:02] iredmail commented on #687
i have no idea. Ping @anandology

[2020-11-07 06:54] mekarpeles commented on #687
I think there may be a problem with calling web.redirect with the following string:

[code]

[2020-11-07 07:08] mekarpeles commented on #687
Consider this example webpy app which redirects a patron from `/` to `/Hélas`

[code]

On Python 2 webpy `0.37` it results in

[code]

And on Python 3 webpy `0.61`:

[code]

[2020-11-07 19:57] cclauss commented on #687
#516 @schneidersoft Can you please weigh in on [this change](https://github.com/webpy/webpy/commit/146fcbc60610a0aeecefce3598dff9d9706c1a3b#diff-c27618b2fd15107297fecdc40a7fadb2d8b1d4d9d6d02fd3699053a7291242d2R431)?  Why do we want to convert Unicode str into bytes encoded with latin1 and then decode it with utf8?
[code]

[2020-11-08 03:56] mekarpeles commented on #687
We're getting around in in Open Library by url quoting whatever unicode is getting passed to the redirect.

[2020-11-08 19:14] tfmorris commented on #687
You don't. And, that will only ever work for pure ASCII. The upper half of ISO Latin-1 (ie ISO 8859-1) doesn't match UTF-8.

You want `urllib.parse.unquote()` instead. Note this fix has already been applied to application.py where the comments say:

[2020-11-08 21:17] pbuckner commented on #687
I can't support the encode().decode(). I think the original suggestion was `bytes(env.get("PATH_INFO"), 'latin1').decode('utf8')` which is slightly different.

Issue I saw was related to using nginx / uwsgi as server. (uwsgi returns latin1 encoded string, as I recall).

Quick test demonstrates you can keep `ctx.path = env.get("PATH_INFO")`, (with no encode/decode)  *and* solve the problem by addin

[2020-11-08 22:11] cclauss commented on #687
`str.startswith()` can take a tuple...
`if env.get("SERVER_SOFTWARE", "").startswith(('lighttpd/', 'nginx/'))`

[2020-11-09 08:36] UweSauter opened #691 "dead link in documentation"
Dear webpy website admins,

I found a dead link in the tutorial section (https://webpy.org/docs/0.3/tutorial#forms):

The form module of web.py allows the ability to generate html forms, get user input, and validate it before processing it or
adding it to a database. If you want to learn more about using the module forms web.py, see the Documentation (working ->
https://webpy.org/docs/0.3/) or dir

[2020-11-09 08:39] iredmail commented on #691
Fixed: https://github.com/webpy/webpy.github.com/commit/170ab7e05a8b0d1343c894aa9b67a53104b546b1

[2020-11-09 08:39] #691 closed

[2020-11-09 08:41] UweSauter commented on #691
Hi,

I found one more:

https://webpy.org/docs/0.3/ -> Component Documentation -> Forms. Dealing with user input

[2020-11-09 08:42] iredmail commented on #691
Fixed seconds ago before your post. :)

[2020-11-09 08:57] UweSauter opened #693 "How to use multiple submit buttons?"
Hi there,

I'm not a web developer so I just might have not enough background to solve this on my own.

What I'm trying to figure out is: If I have a form with several submit buttons, how can I recognize which one was pressed to submit that form?

In the following minimal (non-)working example, I'm looking for what is called `.was_pressed()` in there:

`app.py`
[code]
`templates/index.html`
[code]

[2020-11-09 09:03] iredmail commented on #693
Try to add `value=` like this:

[code]

Note: i don't think you should use multiple buttons, instead you should use another input element (maybe "radio" box) to identify the "red", "green", "blue" things.

[2020-11-09 09:03] #693 closed

[2020-11-09 09:15] UweSauter commented on #693
I've already tried this in a more complex scenario (values for login and password are only given while development):

[code]
but when processing this, I always get the first submit button, not the one that was pressed:
[code]
I suspect this is because in this example both submit buttons have the name `'submit'`.
So even if I would change the names the problem would still exist that I cannot decide

[2020-11-09 09:31] UweSauter commented on #693
Here is an HTML example from the popular (german) SelfHTML [1] documentation that explicitly uses two submit buttons:

[code]
Roughly translated:
`In this example are two submit buttons. Depending on the pressed button the serverside script will receive an "action" parameter with value "0" (for IP-address) or "1" (for time). […]`

[1] https://wiki.selfhtml.org/wiki/HTML/Formulare/button#Formulare_

[2020-11-09 10:58] UweSauter opened #694 "No API documentation for web.input() and other functions"
In the [templating section](https://webpy.org/docs/0.3/tutorial#templating) of the tutorial `web.input()` is introduced but the onIy documentation I can find is [in the cookbook](https://webpy.org/cookbook/input).

The [API site](https://webpy.org/docs/0.3/api) only contains the documentation for classes of `web` but no for functions.

Also please expand the example from the [forms cookbook](https

[2020-11-09 11:31] cclauss commented on #687
Closed in #690 and released in v0.62

[2020-11-09 11:31] #687 closed

[2020-11-11 20:12] UweSauter opened #695 "Old cookie causes session to throw KeyError exception"
The minimal working example attached at the end only works it the browser does not send a cookie from an older session when the app was restarted in-between.

The exception is:
[code]
More detailed step-by-step description:
* I run the app using the EPEL for CentOS 8 provided python3-webpy package (0.61)
* I load the page in the browser (Firefox 82.0.3 in this case), log in and out
* I restart the

[2020-11-12 08:19] UweSauter commented on #695
I can also trigger this behavior if I insert a `session.kill()` in the logout branch of the example:
[code]
Then, on logout, I get the same exception:
[code]

[2020-11-12 08:20] iredmail commented on #695
Try this patch: https://github.com/webpy/webpy/pull/685

[2020-11-12 08:31] UweSauter commented on #695
Thank you, that did the trick.
Two questions though:
* I can see that 0.62 does not yet contain this. Any idea when this will be released so I can trigger EPEL to provide the new version?
* Now, with included `session.kill()` I will get `Session expired` after logging out and refreshing doesn't bring back the login page. How to create a new session?

[2020-11-12 09:33] UweSauter opened #696 "Session initializer prevents session data from being saved between requests"
Sorry if the title is misleading but I couldn't think of a better one.

The minimal working example below behaves differently depending on the session initialization.
[code]
The expected result is in both cases that the example presents a login page and, on successful login, a logout button, which leads back to the login page.

When you run the example on the console you will get logging to `sys.s

[2020-12-14 02:12] JamZYu opened #697 "Dead Code in reparam method in module web.db"
There is unreachable code in Line 365-374 in [reparam](https://github.com/webpy/webpy/blob/master/web/db.py#L353) method in module web.db.
[code]

(The issue is found when evaluating Python test generators: [related issue](https://github.com/se2p/pynguin/issues/3))

[2021-01-05 16:55] #697 closed

[2021-01-07 08:57] ZhaoXiangXML opened #702 "Stream large video files in static folder"
I'm trying to host some video files in the static folder.

It seems my VLC player on phones can only open certain small files, not the large ones. My best guess is that `Transfer-Encoding: chunked` header is required, according to https://webpy.org/cookbook/streaming_large_files.

So is it possible to add headers for static files?

Thanks

[2021-01-07 11:17] ZhaoXiangXML commented on #702
I think I've a solution:

[code]

[2021-01-07 11:43] ZhaoXiangXML commented on #702
However this does not solve my problem, do I need something else to stream large videos in web.py?

[2021-01-08 02:37] anandology commented on #702
-- PEP 3333 -- Python Web Server Gateway Interface v1.0.1

[2021-01-08 02:41] #702 closed

[2021-01-08 03:08] ZhaoXiangXML commented on #702
Guess that means I need to install nginx.

Thanks

[2021-01-21 02:24] CoolCoderSJ opened #703 "Session resettin on reload even with debug disabled"
Hello,

For my project, im using

[code]
as shown in the docs

but the session resets to None on default. How can I prevent this?

[2021-01-21 02:55] CoolCoderSJ commented on #703
Update: for my scenario, cookies seem to work fine, so I'll be closing this, thanks

[2021-01-21 02:55] #703 closed

[2021-02-13 01:54] 0clickjacking0 opened #704 "How to make web.py work with livereload"
I recently deployed a project, but every time I modify the code of the project, I can only ctrl+c to terminate the program, and then restart the project with python3 main.py 80. I saw in the tutorial that the default is debug mode. But after I modify the code, an error will be reported. Can you help me?

the coe is:
[code]

and I try to `    app = web.application(urls, globals(),autoreload=True)`,

[2021-02-20 15:53] jn0 opened #705 "cgiFieldStorage.makefile is erroneous"
https://github.com/webpy/webpy/blob/772f5b338de803ec4ef1cda410cfd52482996805/web/webapi.py#L405

The code **always** creates a "binary" stream, while in Python3 (3.7 was in use) it has special AI (via `FieldStorage._binary_file` flag) to select bytes-or-str.

We have triggered this error trying to POST a form/multipart data without `filename` with form date of more than 1000 chars.

Thanks to @igo

[2021-02-20 16:05] cclauss commented on #705
Is there a pull request to fix this situation?

[2021-02-20 20:09] jn0 commented on #705
https://github.com/webpy/webpy/pull/706 created.

It's untested single-line patch (it just forwards the call downward to `cgi.FieldStorage.make_file` discarding [compatibility] parameter).

[2021-02-20 20:35] jn0 commented on #705
New https://github.com/webpy/webpy/pull/707 PR - with cleanup.

[2021-02-26 09:59] jn0 commented on #705
If it matters, I've tested the patch with my app.

[2021-02-26 11:27] igorlidin commented on #705
I can confirm that multipart/form-data POSTs with form fields which contain more than 1000 chars are broken. This should possibly be considered as a critical bug.

[2021-02-26 13:07] cclauss commented on #705
Would it be possible to create a [test](https://github.com/webpy/webpy/tree/master/tests) that fails so we have an executable example of the failure?  When we can get that test to pass this bug will be fixed.  The test will also help us to ensure that we do not have future regressions.  Thanks.

[2021-02-28 07:58] abhijitnarvekar opened #708 "Insert statements in Postgres Stored Procedure do not insert data in table."
**Problem Statement**: I am using web.py to simpy fire a stored procedure in Postgres DB v12. When the call finishes, I get no error; the ordernum is generated and returned. But not a single line from the rqcus, rqcrt or rqtnd table is inserted into the corresponding orcus, orcrt or ortnd tables. The Postgres log shows no error.

**Additional things that I tried, but did not help to resolve the ma

[2021-02-28 15:57] abhijitnarvekar commented on #708
I took a dig into the code - the db.py . The class DB has a method named query. In the method, the following statements are near the end of it.

[code]
I exchanged the position of the if block statements as below. This change resolved the issue.

[code]

Alternatively, changing them to commit also in cases where a result set is returned, also works. Thus, the new code looks as follows:

[code]

I

[2021-03-11 14:38] FrankIJskes commented on #696
Not sure if the following will help you, but i had a lot of issues with sessions and i cant really remember what solved most of them:
Try putting the line "app = ....." ABOVE the lines "web.config...."

Like this:

`web.config.debug = False`
`app = web.application(web_url_handling.urls, globals(), autoreload=False)`
`# initialise generic session set.`
`web.config.session_parameters['timeout'] = 90

[2021-03-21 23:56] cclauss opened #710 "DBUtils >= v2.0 changes 'import DBUtils' --> 'import dbutils'"
* https://pypi.org/project/DBUtils
* https://webwareforpython.github.io/DBUtils/changelog.html

In DBUtils < v2.0 must use the syntax `import DBUtils`
In DBUtils >= v2.0 must use the syntax `import dbutils`

Where does this repo have references to `DBUtils`:
https://github.com/webpy/webpy/search?q=dbutils

[2021-03-22 01:09] iredmail commented on #710
Feel free to change it. :)

[2021-04-11 13:15] jn0 commented on #705
Something like
[code]

[2021-04-11 14:20] cclauss commented on #705
Nice @jn0 !!  Would it be possible for you to put that in a pull request so we can make it part of our continuous integration?

[2021-06-27 23:43] Alessandro-Barbieri opened #712 "ApplicationTest.test_routing failure"
I've packaged webpy for the gentoo overlay guru but it fail at this test:

[code]

Build log: https://788319.bugs.gentoo.org/attachment.cgi?id=706161
https://bugs.gentoo.org/788319

[2021-07-05 00:58] Alessandro-Barbieri opened #713 "another test failure"
[code]

[2021-07-11 11:36] jimgregory commented on #696
I am having the same problem.  Instead of using the session initializer,  I ended up just setting the value each time it is retrieved using `get()`, e.g.:

    value = web.session.get("my_key", "default_value")

[2021-08-11 14:28] #562 closed

[2021-08-12 16:49] ddreyfus opened #714 "memoize performance"
When I profile my app I find the `__call__` function to take an inordinate amount of time.
I believe that most of the time is accounted for in lines 3, 4, and 5 of this routine.
Given that the lock in self.running.get(key) is only needed in the update call, would it not be better to move it there?

[code]

Perhaps this:

[code]

[2021-08-24 05:11] subtra3t opened #715 "Documentation is outdated"
When I visit the [documentation page](https://webpy.org/docs/), there is documentation for only two versions, v0.2 and v0.3, while the latest version, v0.62, is not at all documented.

[2021-08-24 05:19] cclauss commented on #715
There are some opportunities for contributions.

[2021-10-26 08:49] bobintetley opened #717 "Autoreload breaks sessions"
I've been using web.py 0.39 for years and decided to try and upgrade to 0.62 - all of my session code immediately broke and web.py stopped sending session cookies. I was using cheroot locally rather than WSGI as this is my development environment.

I tracked the problem down to this part of the autoreload code in the application object constructor:

[code]

Specifically, the issue is the line call

[2021-12-30 06:33] acmol commented on #705
Meet the same bug.

The cgiFieldStorage class has no need to be existing any more.

[2022-01-26 08:50] ken723 commented on #666
听我一句劝，web. py是个坑，官网cookbook一直是0.3版本的，只适用于python2，现在是0202年，我使用的是最新的0.61版本了，许多函数实现方式都发生了很大变化，却没有官方的讲解，需要自行摸索。当我在学子应用共享主应用的session时，cookbook上讲的不起作用，网上资料实在有限，都是过时的版本。一气之下，我到github上直接提问题How to share session in the child application?，贡献者之一的Christian Clauss很热心，道理倒是讲得一套套的，最后给我解决办法的竟然还是0.3版本的，现在也不回我了。麻蛋，就当锻炼了一下英语。

[2022-01-26 13:00] iredmail commented on #666
傻B，好像谁欠你似的，开源软件的作者和维护者没有义务一口口喂你饭吃。哪个开源软件都是爱用不用，不用滚蛋，不惯着你这样的傻帽

[2022-02-25 08:24] shalun77 opened #721 "I couldn't get datas from mysql by using web.py"
<class 'mysql.connector.errors.InternalError'> at /
Unread result found
D:\pythonPath\python\lib\site-packages\mysql\connector\connection.py in handle_unread_result
            raise errors.InternalError("Unread result found") ...
[▶ Local vars](http://127.0.0.1:8080/#)
D:\pythonPath\python\lib\site-packages\mysql\connector\connection.py in _execute_query
        self.handle_unread_result() ...
[▶

[2022-02-25 08:30] iredmail commented on #721
Please paste your Python code snippet here so that others can help troubleshoot.

[2022-02-25 09:10] shalun77 commented on #721
#this is test.py
import web
urls = (
    '/', 'index'
)
app = web.application(urls, globals())
render = web.template.render('templates/')
db = web.database(dbn='mysql', host='127.0.0.1', port=3306,
                  db='employee', user='root', pw='root')
class index:
    def GET(self):
        email = db.select('mintest')
        return render.index(email)
if __name__ == "__main__":
    app.run()

[2022-02-25 09:13] shalun77 commented on #721
i want to get datas from mysql through test.py and show the datas on index.html

[2022-02-25 09:13] #721 closed

[2022-02-25 09:16] shalun77 commented on #721
i have installed mysql and web.py,python,pycharm and mysql-connector also

[2022-02-25 09:18] shalun77 commented on #721
Could any friend guide me to do the right code here,,many thanks

[2022-02-25 09:27] shalun77 commented on #721
(my)  python 3.7.7 , mysql 8.0.12

[2022-02-25 09:39] shalun77 commented on #721
i'm offline now,i will reply to you immediately, when i get back.

[2022-02-26 03:09] vprelovac opened #722 "Connection timeout at 10s"
Connection timeout seems to be at 10 seconds. Is there some way to change this value?

[2022-03-02 15:43] cclauss commented on #710
@pycarus Which version of https://pypi.org/project/DBUtils are you using?

[2022-03-03 04:47] pycarus commented on #710
@cclauss Python 3.8.5 with DB Utils 3.0.1

[2022-03-03 10:45] #710 closed

[2022-03-07 04:51] iredmail commented on #712
Fixed by #723

[2022-03-07 04:51] #712 closed

[2022-03-07 04:58] iredmail commented on #713
Dear @Alessandro-Barbieri

We don't have this error anymore with latest repo, so i close this issue now.
Could you try to reproduce it locally and share us the result?

[2022-03-07 04:58] #713 closed

[2022-03-07 04:59] iredmail commented on #722
Excuse me, connection of what? http, sql?

[2022-03-07 05:04] vprelovac commented on #722
I meant keep-alive-timeout.

[2022-03-09 00:17] iredmail commented on #717
This issue was introduced by me with a contributed PR: #438

I think we should re-check this issue. @cclauss

[2022-05-20 13:01] aisk commented on #598
The [pypy document](https://doc.pypy.org/en/latest/cpython_differences.html#miscellaneous) said:

So it's caused by the `__builtins__` can't be overrided in `exec` function. I found there was a workaround for this: shadow the builtins in globals by a function which will raise a `NameError`.

[2022-06-22 06:19] cclauss opened #732 "cgi is deprecated and slated for removal in Python 3.13"
Pytest on Python 3.11 pre-release will generate...
[code]
https://docs.python.org/3/library/cgi.html

[2022-07-17 14:42] JakeWalker23 commented on #732
Hi @cclauss,

What is needed to be done here? I don't mind doing this.

Jake

[2022-07-17 15:43] cclauss commented on #732
https://peps.python.org/pep-0594/#cgi

[2022-07-18 15:21] xinthose opened #734 "application stops working randomly"
I have noticed in production environments (Linux, running 24/7), sometimes my REST service is no longer accessible until I SSH into the machine and restart the application, then it works fine for weeks or months on end.  How can I troubleshoot this?

[2022-07-19 10:03] Zemke commented on #734
By looking into the logs.

[2022-07-19 13:09] xinthose commented on #734
I use custom python logging in the application that does not reveal any errors.  Are there system log files I should be checking?

[2022-08-01 16:34] xinthose commented on #734
I think I'll use [FastAPI ](https://github.com/tiangolo/fastapi) instead.

[2022-08-01 16:34] #734 closed

[2022-08-18 03:11] kongyi182 opened #738 "Sorry to interupt, when will the new version be released?"

[2022-08-18 05:16] cclauss commented on #738
Python 3.11 release candidate 1 https://www.python.org/download/pre-releases is currently being tested on our GitHub Actions.  https://github.com/webpy/webpy/blob/master/.github/workflows/lint_python.yml#L35

Let's do a web.py release just after Py3.11 releases (scheduled for the first days of October 2022).

Before that release, we should automate the release process via the addition of a new Git

[2022-08-22 10:59] kongyi182 commented on #738
thank you

[2022-08-22 14:48] cclauss commented on #738
Let's leave this open until we have made our release.

[2022-08-24 14:34] gjdv opened #739 "Field validators don't return their msg when they fail"
Whereas form level Validators set their msg in form.note in case they fail, field level Validators don't. That means that if you validate a form and somewhere a field validator fails, you have no clue which one.

Is this designed behavior? If not, may I suggest to change:
https://github.com/webpy/webpy/blob/master/web/form.py#L107
[code]
to:
[code]

Instead of `return False` one could also do `out

[2022-09-09 02:48] GJSeason commented on #705
This bug is still not handled. It is sad to see that.

[2022-10-12 09:11] #598 closed

[2022-10-12 09:45] cclauss opened #744 "Google App Engine: Should we keep the GAE code in web/application.py"
The Google App Engine code in `web/application.py` is heavily focused on Python 2 which we no longer support.  Should we clean up that code to be compatible with Python 3 or should we drop the custom code for GHE?  I do not use GHE.

[2022-10-17 10:54] gentakojima opened #746 "Cookies storing the session id are always trated like session cookies, ignoring the timeout config parameter"
The cookie for storing the session id in the web browser is set using `self._setcookie` in line 155 of `sessions.py`.

The same method is also called to delete the cookie, so it has a parameter called `expires` which defaults to an empty string. All the other options are taken from `self._config` instead inside the method, but not this one.

This means the `timeout` parameter is ignored, since set

[2022-11-11 20:22] cdrini opened #747 "Support weak (W/) Etags/If-None-Match header"
Etags/If-None-Match can be optionally prefixed by `W/` to denote a "weak validator" according to MDN. This flag denotes that it is _approximately_ identical, but not byte-identical. MDN suggests `W/` shouldn't match for byte ranges. Presumably it should match for anything else though?

Update `http.modified` to handle `W/`.

MDN states:

So if the requester etag is weak, then if the page etag can

[2022-11-23 20:16] karlcz opened #750 "Use re.fullmatch"
We have an app where we have been setting global flags in the URL pattern with a prefix like `(?i)` or `(?s)`. It has worked well until recently with Python 3.11 where the `re` module throws an error that the global flags must be set at the beginning of the pattern.  I tracked this down to the fact that webpy is blindly modifying the pattern with anchors like `^` _pattern_ `\Z` and the `re` module

[2022-11-23 20:59] cclauss commented on #750
@cdrini Your review, please.

[2022-11-24 03:12] cdrini commented on #750
Ah ok, if I understand the problem correctly, in python <3.11 this would work:

[code]

Now, the first example throws an error in 3.11 since `(?i)` is only allowed at the start.

Because web.py does manual modification or regex patterns (like `re.compile('^' + user_pattern)`), it causes an issue in 3.11 if the `user_pattern` containers an inline flag (eg `(?i)`).

[2022-11-24 03:16] cdrini commented on #750
The proposed solution is to change from using things like `'^' + user_pattern` to using the appropriate `re` method (eg `fullmatch`) that has that some function. This seems pretty reasonable to me? Only thing to keep an eye on is to make sure that the new regexes aren't returned by a public function anywhere. Because that could cause users of the library's code to fail.

[2022-11-24 03:19] cdrini commented on #750
Ah but the sub case is trickier since there is no equivalent fn...

[2022-11-24 03:31] cdrini commented on #750
I can't think of anything else! The proposed fix for subm seems reasonable. I love how it correctly handles the case where the regex already has `^` or `$`!

[2022-11-24 12:18] Sukii opened #751 "CORS origin not working"
[code]
I am trying to use the default 8080 port of this `http://localhost:8080/api`  from Apache `http://localhost` page in port 80. However, in the response web.py is not sending 'Access-Control-Allow-Origin' to the browser and I get

[code]

[2022-11-25 08:53] Sukii commented on #751
However, if the request is made from origin `http://localhost:8080` then it works with following response headers:
[code]
so it seems to work, but why do request from `http://localhost` or `http://localhost:80` get blocked?

[2022-11-28 19:23] viponedream opened #752 "how to get the balance of nft ? erc721"
in GOERLI,  i have some erc721 tokens, how to get the balance of that?

[2022-11-28 19:30] #752 closed